$blue-1: oklch(0.18 0.046 255);
$blue-2: oklch(0.276 0.071 255);
$blue-3: oklch(0.372 0.096 255);
$blue-4: oklch(0.469 0.121 255);
$blue-5: oklch(0.565 0.146 255);
$blue-6: oklch(0.661 0.121 255);
$blue-7: oklch(0.757 0.084 255);
$blue-8: oklch(0.854 0.049 255);
$blue-9: oklch(0.95 0.016 255);

$blues: (
	0: $blue-5,
	1: $blue-1,
	2: $blue-2,
	3: $blue-3,
	4: $blue-4,
	5: $blue-5,
	6: $blue-6,
	7: $blue-7,
	8: $blue-8,
	9: $blue-9,
);
