$cyan-1: oklch(0.15 0.029 190);
$cyan-2: oklch(0.25 0.049 190);
$cyan-3: oklch(0.35 0.069 190);
$cyan-4: oklch(0.45 0.088 190);
$cyan-5: oklch(0.55 0.108 190);
$cyan-6: oklch(0.65 0.128 190);
$cyan-7: oklch(0.75 0.147 190);
$cyan-8: oklch(0.85 0.167 190);
$cyan-9: oklch(0.95 0.071 190);

$cyans: (
	0: $cyan-5,
	1: $cyan-1,
	2: $cyan-2,
	3: $cyan-3,
	4: $cyan-4,
	5: $cyan-5,
	6: $cyan-6,
	7: $cyan-7,
	8: $cyan-8,
	9: $cyan-9,
);
