$green-1: oklch(0.14 0.039 165);
$green-2: oklch(0.24 0.067 165);
$green-3: oklch(0.34 0.094 165);
$green-4: oklch(0.44 0.122 165);
$green-5: oklch(0.54 0.15 165);
$green-6: oklch(0.64 0.178 165);
$green-7: oklch(0.74 0.205 165);
$green-8: oklch(0.84 0.233 165);
$green-9: oklch(0.94 0.098 165);

$greens: (
	0: $green-5,
	1: $green-1,
	2: $green-2,
	3: $green-3,
	4: $green-4,
	5: $green-5,
	6: $green-6,
	7: $green-7,
	8: $green-8,
	9: $green-9,
);
