$green-1: oklch(35% 0.1 165);
$green-2: oklch(40% 0.11 165);
$green-3: oklch(50% 0.14 165);
$green-4: oklch(60% 0.15 165);
$green-5: oklch(70% 0.15 165);
$green-6: oklch(80% 0.15 165);
$green-7: oklch(95% 0.08 165);
$green-8: oklch(98% 0.0315 165);
