$neutral-1: oklch(0.18 0 0);
$neutral-2: oklch(0.276 0 0);
$neutral-3: oklch(0.372 0 0);
$neutral-4: oklch(0.469 0 0);
$neutral-5: oklch(0.565 0 0);
$neutral-6: oklch(0.661 0 0);
$neutral-7: oklch(0.757 0 0);
$neutral-8: oklch(0.854 0 0);
$neutral-9: oklch(0.95 0 0);

$neutrals: (
	0: $neutral-1,
	1: $neutral-1,
	2: $neutral-2,
	3: $neutral-3,
	4: $neutral-4,
	5: $neutral-5,
	6: $neutral-6,
	7: $neutral-7,
	8: $neutral-8,
	9: $neutral-9,
);
