$neutral-1: oklch(20% 0.01 250);
$neutral-2: oklch(35% 0.01 250);
$neutral-3: oklch(45% 0.01 250);
$neutral-4: oklch(55% 0.01 250);
$neutral-5: oklch(85% 0.01 250);
$neutral-6: oklch(90% 0.01 250);
$neutral-7: oklch(95% 0.01 250);
$neutral-8: oklch(98% 0.01 250);
