$orange-1: oklch(20% 0.2 45);
$orange-2: oklch(30% 0.2 45);
$orange-3: oklch(40% 0.2 45);
$orange-4: oklch(50% 0.2 45);
$orange-5: oklch(60% 0.2 45);
$orange-6: oklch(70% 0.2 45);
$orange-7: oklch(80% 0.2 45);
$orange-8: oklch(90% 0.0718 45);
$orange-9: oklch(97% 0.0201 45);

$oranges: (
	0: $orange-6,
	1: $orange-1,
	2: $orange-2,
	3: $orange-3,
	4: $orange-4,
	5: $orange-5,
	6: $orange-6,
	7: $orange-7,
	8: $orange-8,
	9: $orange-9,
);
