$orange-1: oklch(50% 0.1616 45);
$orange-2: oklch(55% 0.1942 45);
$orange-3: oklch(60% 0.1942 45);
$orange-4: oklch(70% 0.2 45);
$orange-5: oklch(77% 0.1833 45);
$orange-6: oklch(83% 0.1289 45);
$orange-7: oklch(87% 0.0952 45);
$orange-8: oklch(95% 0.0342 45);
