$orange-1: oklch(0.22 0.071 45);
$orange-2: oklch(0.311 0.1 45);
$orange-3: oklch(0.402 0.13 45);
$orange-4: oklch(0.494 0.159 45);
$orange-5: oklch(0.585 0.188 45);
$orange-6: oklch(0.676 0.218 45);
$orange-7: oklch(0.767 0.185 45);
$orange-8: oklch(0.859 0.104 45);
$orange-9: oklch(0.95 0.034 45);

$oranges: (
	0: $orange-6,
	1: $orange-1,
	2: $orange-2,
	3: $orange-3,
	4: $orange-4,
	5: $orange-5,
	6: $orange-6,
	7: $orange-7,
	8: $orange-8,
	9: $orange-9,
);
