$pink-1: oklch(0.22 0.062 350);
$pink-2: oklch(0.311 0.088 350);
$pink-3: oklch(0.402 0.113 350);
$pink-4: oklch(0.494 0.139 350);
$pink-5: oklch(0.585 0.165 350);
$pink-6: oklch(0.676 0.19 350);
$pink-7: oklch(0.767 0.13 350);
$pink-8: oklch(0.859 0.072 350);
$pink-9: oklch(0.95 0.024 350);

$pinks: (
	0: $pink-7,
	1: $pink-1,
	2: $pink-2,
	3: $pink-3,
	4: $pink-4,
	5: $pink-5,
	6: $pink-6,
	7: $pink-7,
	8: $pink-8,
	9: $pink-9,
);
