$purple-1: oklch(30% 0.1664 300);
$purple-2: oklch(40% 0.15 300);
$purple-3: oklch(50% 0.15 300);
$purple-4: oklch(60% 0.15 300);
$purple-5: oklch(70% 0.15 300);
$purple-6: oklch(80% 0.13 300);
$purple-7: oklch(90% 0.0625 300);
$purple-8: oklch(95% 0.0304 300);
