$purple-1: oklch(0.21 0.065 300);
$purple-2: oklch(0.302 0.093 300);
$purple-3: oklch(0.395 0.121 300);
$purple-4: oklch(0.487 0.15 300);
$purple-5: oklch(0.58 0.163 300);
$purple-6: oklch(0.672 0.123 300);
$purple-7: oklch(0.765 0.086 300);
$purple-8: oklch(0.857 0.05 300);
$purple-9: oklch(0.95 0.017 300);

$purples: (
	0: $purple-5,
	1: $purple-1,
	2: $purple-2,
	3: $purple-3,
	4: $purple-4,
	5: $purple-5,
	6: $purple-6,
	7: $purple-7,
	8: $purple-8,
	9: $purple-9,
);
