$red-1: oklch(40% 0.18 25);
$red-2: oklch(45% 0.2 25);
$red-3: oklch(50% 0.2274 25);
$red-4: oklch(60% 0.24 25);
$red-5: oklch(70% 0.24 25);
$red-6: oklch(80% 0.138 25);
$red-7: oklch(90% 0.0663 25);
$red-8: oklch(95% 0.0315 25);

$reds: (
	"1": $red-1,
	"2": $red-2,
	"3": $red-3,
	"4": $red-4,
	"5": $red-5,
	"6": $red-6,
	"7": $red-7,
	"8": $red-8)
