$red-1: oklch(0.23 0.091 25);
$red-2: oklch(0.32 0.127 25);
$red-3: oklch(0.41 0.162 25);
$red-4: oklch(0.5 0.198 25);
$red-5: oklch(0.59 0.234 25);
$red-6: oklch(0.68 0.229 25);
$red-7: oklch(0.77 0.151 25);
$red-8: oklch(0.86 0.085 25);
$red-9: oklch(0.95 0.028 25);

$reds: (
	0: $red-5,
	1: $red-1,
	2: $red-2,
	3: $red-3,
	4: $red-4,
	5: $red-5,
	6: $red-6,
	7: $red-7,
	8: $red-8,
	9: $red-9,
);
