$yellow-1: oklch(0.19 0.041 80);
$yellow-2: oklch(0.285 0.061 80);
$yellow-3: oklch(0.38 0.081 80);
$yellow-4: oklch(0.475 0.102 80);
$yellow-5: oklch(0.57 0.122 80);
$yellow-6: oklch(0.665 0.142 80);
$yellow-7: oklch(0.76 0.163 80);
$yellow-8: oklch(0.855 0.156 80);
$yellow-9: oklch(0.95 0.051 80);

$yellows: (
	0: $yellow-7,
	1: $yellow-1,
	2: $yellow-2,
	3: $yellow-3,
	4: $yellow-4,
	5: $yellow-5,
	6: $yellow-6,
	7: $yellow-7,
	8: $yellow-8,
	9: $yellow-9,
);
