$yellow-1: oklch(50% 0.1191 80);
$yellow-2: oklch(55% 0.1305 80);
$yellow-3: oklch(65% 0.15 80);
$yellow-4: oklch(75% 0.15 80);
$yellow-5: oklch(85% 0.15 80);
$yellow-6: oklch(89% 0.129 80);
$yellow-7: oklch(92% 0.092 80);
$yellow-8: oklch(98% 0.022 80);
