button,
.button {
	cursor: pointer;
	box-sizing: border-box;
	border: 1px var(--btn-2) solid;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-1);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	border-radius: var(--radius-1);
	text-decoration: none;

	&:disabled {
		cursor: not-allowed;
	}

	&.button-1 {
		--padding-y: var(--space-1);
		--padding-x: var(--space-2);
	}

	&.button-2 {
		--padding-y: var(--space-2);
		--padding-x: var(--space-3);
	}

	&.button-3 {
		--padding-y: var(--space-3);
		--padding-x: var(--space-4);
	}

	&.button-4 {
		--padding-y: var(--space-4);
		--padding-x: var(--space-5);
	}

	&.primary {
		background-color: var(--btn-2);
		color: var(--neutral-8);

		&:hover,
		&:focus {
			background-color: var(--btn-1);
		}

		&:active {
			background-color: var(--btn-3);
		}
	}

	&.secondary {
		background-color: var(--neutral-8);
		color: var(--btn-2);
		border-color: var(--btn-2);

		&:hover,
		&:focus {
			background-color: oklch(from var(--btn-3) l c h / 15%);
			color: var(--btn-1);
			border-color: var(--btn-1);
		}

		&:active {
			color: var(--btn-3);
			border-color: var(--btn-3);
		}
	}

	&.ghost {
		border-color: transparent;
		background-color: transparent;
		color: var(--btn-1);

		&:hover,
		&:focus {
			background-color: oklch(from var(--btn-3) l c h / 15%);
		}

		&:active {
			border-color: var(--btn-3);
		}
	}

	&.neutral {
		--btn-1: var(--neutral-2);
		--btn-2: var(--neutral-1);
		--btn-3: var(--neutral-3);
	}

	&.red {
		--btn-1: var(--red-2);
		--btn-2: var(--red-3);
		--btn-3: var(--red-4);
	}

	&.blue {
		--btn-1: var(--blue-2);
		--btn-2: var(--blue-3);
		--btn-3: var(--blue-4);
	}

	&.green {
		--btn-1: var(--green-2);
		--btn-2: var(--green-3);
		--btn-3: var(--green-4);
	}

	&.yellow {
		--btn-1: var(--yellow-1);
		--btn-2: var(--yellow-2);
		--btn-3: var(--yellow-3);
	}

}
