:root {
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 14px;
	--space-5: 16px;
	--space-6: 18px;
	--space-7: 20px;
	--space-8: 24px;
	--space-9: 28px;
	--space-10: 32px;
	--space-11: 40px;
	--space-12: 48px;
	--space-13: 64px;
	--space-14: 128px;
}
