/*! Tundra.css - https: //github.com/joshdales/tundra-css - MIT License */
@use 'styles' as *;

:root {
	/* Neutral */
	--neutral-1: #{$neutral-1};
	--neutral-2: #{$neutral-2};
	--neutral-3: #{$neutral-3};
	--neutral-4: #{$neutral-4};
	--neutral-5: #{$neutral-5};
	--neutral-6: #{$neutral-6};
	--neutral-7: #{$neutral-7};
	--neutral-8: #{$neutral-8};
	/* Red */
	--red-1: #{$red-1};
	--red-2: #{$red-2};
	--red-3: #{$red-3};
	--red-4: #{$red-4};
	--red-5: #{$red-5};
	--red-6: #{$red-6};
	--red-7: #{$red-7};
	--red-8: #{$red-8};
	/* Orange */
	--orange-1: #{$orange-1};
	--orange-2: #{$orange-2};
	--orange-3: #{$orange-3};
	--orange-4: #{$orange-4};
	--orange-5: #{$orange-5};
	--orange-6: #{$orange-6};
	--orange-7: #{$orange-7};
	--orange-8: #{$orange-8};
	/* Yellow */
	--yellow-1: #{$yellow-1};
	--yellow-2: #{$yellow-2};
	--yellow-3: #{$yellow-3};
	--yellow-4: #{$yellow-4};
	--yellow-5: #{$yellow-5};
	--yellow-6: #{$yellow-6};
	--yellow-7: #{$yellow-7};
	--yellow-8: #{$yellow-8};
	/* Green */
	--green-1: #{$green-1};
	--green-2: #{$green-2};
	--green-3: #{$green-3};
	--green-4: #{$green-4};
	--green-5: #{$green-5};
	--green-6: #{$green-6};
	--green-7: #{$green-7};
	--green-8: #{$green-8};
	/* Cyan */
	--cyan-1: #{$cyan-1};
	--cyan-2: #{$cyan-2};
	--cyan-3: #{$cyan-3};
	--cyan-4: #{$cyan-4};
	--cyan-5: #{$cyan-5};
	--cyan-6: #{$cyan-6};
	--cyan-7: #{$cyan-7};
	--cyan-8: #{$cyan-8};
	/* Blue */
	--blue-1: #{$blue-1};
	--blue-2: #{$blue-2};
	--blue-3: #{$blue-3};
	--blue-4: #{$blue-4};
	--blue-5: #{$blue-5};
	--blue-6: #{$blue-6};
	--blue-7: #{$blue-7};
	--blue-8: #{$blue-8};
	/* Purple */
	--purple-1: #{$purple-1};
	--purple-2: #{$purple-2};
	--purple-3: #{$purple-3};
	--purple-4: #{$purple-4};
	--purple-5: #{$purple-5};
	--purple-6: #{$purple-6};
	--purple-7: #{$purple-7};
	--purple-8: #{$purple-8};
	/* Pink */
	--pink-1: #{$pink-1};
	--pink-2: #{$pink-2};
	--pink-3: #{$pink-3};
	--pink-4: #{$pink-4};
	--pink-5: #{$pink-5};
	--pink-6: #{$pink-6};
	--pink-7: #{$pink-7};
	--pink-8: #{$pink-8};
	/* Radius */
	--radius-1: #{$radius-1};
	--radius-2: #{$radius-2};
	--radius-3: #{$radius-3};
	--radius-4: #{$radius-4};
	--radius-5: #{$radius-5};
	/* Space */
	--space-1: #{$space-1};
	--space-2: #{$space-2};
	--space-3: #{$space-3};
	--space-4: #{$space-4};
	--space-5: #{$space-5};
	--space-6: #{$space-6};
	--space-7: #{$space-7};
	--space-8: #{$space-8};
	--space-9: #{$space-9};
	--space-10: #{$space-10};
	--space-11: #{$space-11};
	--space-12: #{$space-12};
	--space-13: #{$space-13};
	--space-14: #{$space-14};
	/* Font Weight */
	--font-weight-1: #{$font-weight-1};
	--font-weight-2: #{$font-weight-2};
	--font-weight-3: #{$font-weight-3};
	--font-weight-4: #{$font-weight-4};
	/* Font Size */
	--font-size-1: #{$font-size-1};
	--font-size-2: #{$font-size-2};
	--font-size-3: #{$font-size-3};
	--font-size-4: #{$font-size-4};
	--font-size-5: #{$font-size-5};
	--font-size-6: #{$font-size-6};
	--font-size-7: #{$font-size-7};
	--font-size-8: #{$font-size-8};
	--font-size-9: #{$font-size-9};
	/* Line Height */
	--line-height-1: #{$line-height-1};
	--line-height-2: #{$line-height-2};
	--line-height-3: #{$line-height-3};
	--line-height-4: #{$line-height-4};
	--line-height-5: #{$line-height-5};
	/* Letter Spacing */
	--letter-spacing-1: #{$letter-spacing-1};
	--letter-spacing-2: #{$letter-spacing-2};
	--letter-spacing-3: #{$letter-spacing-3};
	--letter-spacing-4: #{$letter-spacing-4};
	--letter-spacing-5: #{$letter-spacing-5};
}

/* Text */
@for $level from 1 through 6 {
	.heading-#{$level} {
		@include heading-text($level);
	}

	.alt-heading-#{$level} {
		@include alt-heading-text($level);
	}

	@if $level < 5 {
		.body-#{$level} {
			@include body-text($level);
		}

		.link-#{$level} {
			@include link-text($level);
		}

		.button-#{$level} {
			@include button-text($level);
		}

		.label-#{$level} {
			@include label-text($level);
		}

		.input-#{$level} {
			@include input-text($level);
		}
	}
}

/* Elements: Buttons */
button,
.button,
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button-base;

	@for $level from 1 through 4 {
		&.button-#{$level} {
			@include button-size($level);
		}
	}

	&.filled {
		@include button-filled;
	}

	&.outline {
		@include button-outline;
	}

	&.ghost {
		@include button-ghost;
	}

}

/* Elements: Text-entry inputs */
input:not([type="button"], [type="reset"], [type="submit"], [type="checkbox"], [type="radio"], [type="range"]),
select,
textarea,
[role="textbox"] {
	@include input-base;

	@for $level from 1 through 4 {
		&.input-#{$level} {
			@include input-text-entry($level);
		}
	}
}

/* Elements: Checkbox */
input[type="checkbox"] {
	@for $level from 1 through 4 {
		&.checkbox-#{$level} {
			@include checkbox($level);
		}
	}
}

/* Elements: Radio */
input[type="radio"] {
	@for $level from 1 through 4 {
		&.radio-#{$level} {
			@include radio($level);
		}
	}
}

.red {
	accent-color: var(--red, var(--red-4));
	--accent-1: var(--red-2);
	--accent-2: var(--red-3);
	--accent-3: var(--red-4);
	--accent-4: var(--red-8);
}

.orange {
	accent-color: var(--orange, var(--orange-4));
	--accent-1: var(--orange-1);
	--accent-2: var(--orange-2);
	--accent-3: var(--orange-3);
	--accent-4: var(--orange-8);
}

.yellow {
	accent-color: var(--yellow, var(--yellow-4));
	--accent-1: var(--yellow-1);
	--accent-2: var(--yellow-2);
	--accent-3: var(--yellow-3);
	--accent-4: var(--yellow-8);
}

.green {
	accent-color: var(--green, var(--green-4));
	--accent-1: var(--green-2);
	--accent-2: var(--green-3);
	--accent-3: var(--green-4);
	--accent-4: var(--green-8);
}

.cyan {
	accent-color: var(--cyan, var(--cyan-4));
	--accent-1: var(--cyan-2);
	--accent-2: var(--cyan-3);
	--accent-3: var(--cyan-4);
	--accent-4: var(--cyan-8);
}

.blue {
	accent-color: var(--blue, var(--blue-4));
	--accent-1: var(--blue-2);
	--accent-2: var(--blue-3);
	--accent-3: var(--blue-4);
	--accent-4: var(--blue-8);
}

.purple {
	accent-color: var(--purple, var(--purple-4));
	--accent-1: var(--purple-2);
	--accent-2: var(--purple-3);
	--accent-3: var(--purple-4);
	--accent-4: var(--purple-8);
}

.pink {
	accent-color: var(--pink, var(--pink-4));
	--accent-1: var(--pink-2);
	--accent-2: var(--pink-3);
	--accent-3: var(--pink-4);
	--accent-4: var(--pink-8);
}

/* Fallbacks */

// When Display-P3 is not supported use these values.
@supports not (color: color(display-p3 1 1 1)) {
	:root {
		--neutral-8: oklch(98% 0.0097 250);
		--red-1: oklch(40% 0.16 25);
		--red-5: oklch(70% 0.19 25);
		--red-6: oklch(80% 0.1142 25);
		--red-7: oklch(90% 0.0511 25);
		--red-8: oklch(95% 0.0239 25);
		--yellow-1: oklch(70% 0.1447 80);
		--yellow-4: oklch(85% 0.1436 80);
		--yellow-5: oklch(89% 0.1033 80);
		--yellow-6: oklch(92% 0.0739 80);
		--yellow-7: oklch(95% 0.0457 80);
		--yellow-8: oklch(97% 0.0261 80);
		--green-1: oklch(35% 0.0729 165);
		--green-2: oklch(40% 0.0837 165);
		--green-3: oklch(50% 0.1044 165);
		--green-4: oklch(60% 0.1251 165);
		--green-5: oklch(70% 0.1469 165);
		--green-8: oklch(95% 0.0739 165);
		--blue-1: oklch(35% 0.1142 255);
		--blue-2: oklch(40% 0.1316 255);
		--blue-3: oklch(50% 0.1643 255);
		--blue-4: oklch(60% 0.1969 255);
		--blue-5: oklch(70% 0.1588 255);
		--blue-6: oklch(80% 0.1022 255);
		--blue-7: oklch(90% 0.0489 255);
		--blue-8: oklch(95% 0.0239 255);
	}
}

// When oklch is not supported then use hex-codes
@supports not (color: oklch(60% 0.15 165)) {
	:root {
		--neutral-1: #13161a;
		--neutral-2: #373b40;
		--neutral-3: #51565b;
		--neutral-4: #6d7277;
		--neutral-5: #c9ced4;
		--neutral-6: #d9dfe5;
		--neutral-7: #eaeff5;
		--neutral-8: #f4f9ff;
		--red-1: #8a0012;
		--red-2: #a30018;
		--red-3: #bc001d;
		--red-4: #ee0b2a;
		--red-5: #ff635f;
		--red-6: #ffa098;
		--red-7: #ffd1cd;
		--red-8: #ffe9e6;
		--yellow-1: #cd9200;
		--yellow-2: #dfa11a;
		--yellow-3: #f0b135;
		--yellow-4: #ffc251;
		--yellow-5: #ffd48a;
		--yellow-6: #ffe0ad;
		--yellow-7: #ffeccd;
		--yellow-8: #fff7eb;
		--green-1: #004631;
		--green-2: #00563c;
		--green-3: #007654;
		--green-4: #00976d;
		--green-5: #00ba87;
		--green-6: #41dca5;
		--green-7: #c0ffe2;
		--green-8: #e8fff4;
		--blue-1: #003974;
		--blue-2: #00468c;
		--blue-3: #0061be;
		--blue-4: #007df2;
		--blue-5: #53a0ff;
		--blue-6: #91c1ff;
		--blue-7: #c9e0ff;
		--blue-8: #e4f0ff;
	}
}
