/*! Tundra.css - https: //github.com/joshdales/tundra-css - MIT License */
@use "sass:list";
@use "sass:map";
@use "styles" as *;
@use "styles/properties.scss";
@use "styles/root.scss";

/* Text */
.text {
	@include text-properties;
}

@for $level from 1 through 6 {
	.heading-#{$level},
	.text-heading-#{$level} {
		@include heading-text($level);
	}

	.alt-heading-#{$level},
	.text-alt-heading-#{$level} {
		@include alt-heading-text($level);
	}

	@if $level < 5 {
		.body-#{$level},
		.text-body-#{$level} {
			@include body-text($level);
		}

		.link-#{$level},
		.text-link-#{$level} {
			@include link-text($level);
		}

		.button-#{$level},
		.text-button-#{$level} {
			@include button-text($level);
		}

		.label-#{$level},
		.text-label-#{$level} {
			@include label-text($level);
		}

		.input-#{$level},
		.text-input-#{$level} {
			@include input-text($level);
		}
	}
}

/* Elements: Buttons */
.element-button {
	@include button-base;

	@for $level from 1 through 4 {
		&-#{$level} {
			@include button-size($level);
		}
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.element-button {
	@extend .element-button;

	@for $level from 1 through 4 {
		&.button-#{$level} {
			@extend .element-button-#{$level};
		}
	}

	&.filled {
		@include button-filled;
	}

	&.outline {
		@include button-outline;
	}

	&.ghost {
		@include button-ghost;
	}
}

/* Elements: Text-entry inputs */

input:not(
	[type="button"],
	[type="reset"],
	[type="submit"],
	[type="checkbox"],
	[type="radio"],
	[type="range"]
),
select,
textarea,
[role="textbox"],
.element-text-entry {
	@include input-base;

	@for $level from 1 through 4 {
		&.input-#{$level} {
			@include input-text-entry($level);
		}
	}
}

/* Elements: Toggles */

.element-toggle {
	@include toggle-base;
	@include toggle-container;

	@for $level from 1 through 4 {
		&-#{$level} {
			@include toggle-size($level);
		}
	}
}

/* Elements: Checkbox */

input[type="checkbox"] {
	@for $level from 1 through 4 {
		&.checkbox-#{$level} {
			@extend .element-toggle;
			@extend .element-toggle-#{$level};
			@include toggle-checkbox;
		}
	}
}

/* Elements: Radio */

input[type="radio"] {
	@for $level from 1 through 4 {
		&.radio-#{$level} {
			@extend .element-toggle;
			@extend .element-toggle-#{$level};
			@include toggle-radio;
		}
	}
}

/* Accent Colours */

$_colours: map.remove($colours, "neutral");

@each $colour, $_ in $_colours {
	.#{$colour},
	.accent-#{$colour} {
		--accent: var(--#{$colour});
		--color-accent: var(--#{$colour});

		@for $level from 1 through 9 {
			--accent-#{$level}: var(--#{$colour}-#{$level});
			--color-accent-#{$level}: var(--#{$colour}-#{$level});
		}

		accent-color: var(--accent);
	}
}
