/*! Tundra.css - https: //github.com/joshdales/tundra-css - MIT License */
:root {
  /* Neutral */
  --neutral-1: oklch(20% 0.01 250);
  --neutral-2: oklch(35% 0.01 250);
  --neutral-3: oklch(45% 0.01 250);
  --neutral-4: oklch(55% 0.01 250);
  --neutral-5: oklch(85% 0.01 250);
  --neutral-6: oklch(90% 0.01 250);
  --neutral-7: oklch(95% 0.01 250);
  --neutral-8: oklch(98% 0.01 250);
  /* Red */
  --red-1: oklch(40% 0.18 25);
  --red-2: oklch(45% 0.2 25);
  --red-3: oklch(50% 0.2274 25);
  --red-4: oklch(60% 0.24 25);
  --red-5: oklch(70% 0.24 25);
  --red-6: oklch(80% 0.138 25);
  --red-7: oklch(90% 0.0663 25);
  --red-8: oklch(95% 0.0315 25);
  /* Orange */
  --orange-1: oklch(50% 0.1616 45);
  --orange-2: oklch(55% 0.1942 45);
  --orange-3: oklch(60% 0.1942 45);
  --orange-4: oklch(70% 0.2 45);
  --orange-5: oklch(77% 0.1833 45);
  --orange-6: oklch(83% 0.1289 45);
  --orange-7: oklch(87% 0.0952 45);
  --orange-8: oklch(95% 0.0342 45);
  /* Yellow */
  --yellow-1: oklch(50% 0.1191 80);
  --yellow-2: oklch(55% 0.1305 80);
  --yellow-3: oklch(65% 0.15 80);
  --yellow-4: oklch(75% 0.15 80);
  --yellow-5: oklch(85% 0.15 80);
  --yellow-6: oklch(89% 0.129 80);
  --yellow-7: oklch(92% 0.092 80);
  --yellow-8: oklch(98% 0.022 80);
  /* Green */
  --green-1: oklch(35% 0.1 165);
  --green-2: oklch(40% 0.11 165);
  --green-3: oklch(50% 0.14 165);
  --green-4: oklch(60% 0.15 165);
  --green-5: oklch(70% 0.15 165);
  --green-6: oklch(80% 0.15 165);
  --green-7: oklch(95% 0.08 165);
  --green-8: oklch(98% 0.0315 165);
  /* Cyan */
  --cyan-1: oklch(35% 0.08 190);
  --cyan-2: oklch(40% 0.093 190);
  --cyan-3: oklch(50% 0.11 190);
  --cyan-4: oklch(60% 0.13 190);
  --cyan-5: oklch(70% 0.15 190);
  --cyan-6: oklch(80% 0.15 190);
  --cyan-7: oklch(95% 0.08 190);
  --cyan-8: oklch(98% 0.0315 190);
  /* Blue */
  --blue-1: oklch(35% 0.14 255);
  --blue-2: oklch(40% 0.15 255);
  --blue-3: oklch(50% 0.15 255);
  --blue-4: oklch(60% 0.15 255);
  --blue-5: oklch(70% 0.15 255);
  --blue-6: oklch(80% 0.111 255);
  --blue-7: oklch(90% 0.0533 255);
  --blue-8: oklch(95% 0.0261 255);
  /* Purple */
  --purple-1: oklch(30% 0.1664 300);
  --purple-2: oklch(40% 0.15 300);
  --purple-3: oklch(50% 0.15 300);
  --purple-4: oklch(60% 0.15 300);
  --purple-5: oklch(70% 0.15 300);
  --purple-6: oklch(80% 0.13 300);
  --purple-7: oklch(90% 0.0625 300);
  --purple-8: oklch(95% 0.0304 300);
  /* Pink */
  --pink-1: oklch(30% 0.1398 350);
  --pink-2: oklch(40% 0.17 350);
  --pink-3: oklch(50% 0.17 350);
  --pink-4: oklch(60% 0.17 350);
  --pink-5: oklch(70% 0.17 350);
  --pink-6: oklch(80% 0.17 350);
  --pink-7: oklch(90% 0.0816 350);
  --pink-8: oklch(95% 0.0386 350);
  /* Radius */
  --radius-1: 3px;
  --radius-2: 6px;
  --radius-3: 12px;
  --radius-4: 24px;
  --radius-5: 48px;
  /* Space */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 14px;
  --space-5: 16px;
  --space-6: 18px;
  --space-7: 20px;
  --space-8: 24px;
  --space-9: 28px;
  --space-10: 32px;
  --space-11: 40px;
  --space-12: 48px;
  --space-13: 64px;
  --space-14: 128px;
  /* Font Weight */
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
  --font-weight-4: 800;
  /* Font Size */
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 1.75rem;
  --font-size-8: 2rem;
  --font-size-9: 3rem;
  /* Line Height */
  --line-height-1: 1;
  --line-height-2: 1.05;
  --line-height-3: 1.15;
  --line-height-4: 1.25;
  --line-height-5: 1.5;
  /* Letter Spacing */
  --letter-spacing-1: -0.04em;
  --letter-spacing-2: -0.02em;
  --letter-spacing-3: 0em;
  --letter-spacing-4: 0.02em;
  --letter-spacing-5: 0.04em;
}

/* Text */
.heading-1 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-4);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-3);
}
.heading-1 b,
.heading-1 strong {
  font-weight: var(--font-weight-3);
}

.alt-heading-1 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-4);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}
.alt-heading-1 b,
.alt-heading-1 strong {
  font-weight: var(--font-size-4);
}

.body-1 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-4);
}
.body-1 b,
.body-1 strong {
  font-weight: var(--font-weight-3);
}

.link-1 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-1);
  letter-spacing: var(--letter-spacing-5);
}
.link-1 b,
.link-1 strong {
  font-weight: var(--font-weight-3);
}

.button-1 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-2);
}
.button-1 b,
.button-1 strong {
  font-weight: var(--font-weight-2);
}

.label-1 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-5);
}
.label-1 b,
.label-1 strong {
  font-weight: var(--font-weight-3);
}

.input-1, input.input-1,
select.input-1 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-5);
}
.input-1 b,
.input-1 strong {
  font-weight: var(--font-weight-2);
}

.heading-2 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-3);
}
.heading-2 b,
.heading-2 strong {
  font-weight: var(--font-weight-3);
}

.alt-heading-2 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}
.alt-heading-2 b,
.alt-heading-2 strong {
  font-weight: var(--font-size-4);
}

.body-2 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
  letter-spacing: var(--letter-spacing-4);
}
.body-2 b,
.body-2 strong {
  font-weight: var(--font-weight-2);
}

.link-2 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-5);
}
.link-2 b,
.link-2 strong {
  font-weight: var(--font-weight-3);
}

.button-2 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-3);
}
.button-2 b,
.button-2 strong {
  font-weight: var(--font-weight-2);
}

.label-2 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-4);
}
.label-2 b,
.label-2 strong {
  font-weight: var(--font-weight-3);
}

.input-2, input.input-2,
select.input-2 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-4);
}
.input-2 b,
.input-2 strong {
  font-weight: var(--font-weight-2);
}

.heading-3 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-6);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-2);
}
.heading-3 b,
.heading-3 strong {
  font-weight: var(--font-weight-3);
}

.alt-heading-3 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-6);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}
.alt-heading-3 b,
.alt-heading-3 strong {
  font-weight: var(--font-size-4);
}

.body-3 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
  letter-spacing: var(--letter-spacing-2);
}
.body-3 b,
.body-3 strong {
  font-weight: var(--font-weight-2);
}

.link-3 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-4);
}
.link-3 b,
.link-3 strong {
  font-weight: var(--font-weight-3);
}

.button-3 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-4);
}
.button-3 b,
.button-3 strong {
  font-weight: var(--font-weight-2);
}

.label-3 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-4);
}
.label-3 b,
.label-3 strong {
  font-weight: var(--font-weight-3);
}

.input-3, input.input-3,
select.input-3 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-3);
}
.input-3 b,
.input-3 strong {
  font-weight: var(--font-weight-2);
}

.heading-4 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-7);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-2);
}
.heading-4 b,
.heading-4 strong {
  font-weight: var(--font-weight-3);
}

.alt-heading-4 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-7);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}
.alt-heading-4 b,
.alt-heading-4 strong {
  font-weight: var(--font-size-4);
}

.body-4 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-1);
  letter-spacing: var(--letter-spacing-2);
}
.body-4 b,
.body-4 strong {
  font-weight: var(--font-weight-2);
}

.link-4 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-4);
}
.link-4 b,
.link-4 strong {
  font-weight: var(--font-weight-3);
}

.button-4 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-5);
}
.button-4 b,
.button-4 strong {
  font-weight: var(--font-weight-2);
}

.label-4 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-5);
  letter-spacing: var(--letter-spacing-3);
}
.label-4 b,
.label-4 strong {
  font-weight: var(--font-weight-3);
}

.input-4, input.input-4,
select.input-4 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-5);
  letter-spacing: var(--letter-spacing-2);
}
.input-4 b,
.input-4 strong {
  font-weight: var(--font-weight-2);
}

.heading-5 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-8);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-1);
}
.heading-5 b,
.heading-5 strong {
  font-weight: var(--font-weight-3);
}

.alt-heading-5 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-8);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-3);
}
.alt-heading-5 b,
.alt-heading-5 strong {
  font-weight: var(--font-size-4);
}

.heading-6 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-9);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-1);
}
.heading-6 b,
.heading-6 strong {
  font-weight: var(--font-weight-3);
}

.alt-heading-6 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-9);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-2);
}
.alt-heading-6 b,
.alt-heading-6 strong {
  font-weight: var(--font-size-4);
}

/* Elements: Buttons */
button.button-1,
.button.button-1 {
  --padding-y: var(--space-1);
  --padding-x: var(--space-2);
}
button.button-2,
.button.button-2 {
  --padding-y: var(--space-2);
  --padding-x: var(--space-3);
}
button.button-3,
.button.button-3 {
  --padding-y: var(--space-3);
  --padding-x: var(--space-4);
}
button.button-4,
.button.button-4 {
  --padding-y: var(--space-4);
  --padding-x: var(--space-5);
}
button.filled,
.button.filled {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.5px solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  border-radius: var(--radius-1);
  text-decoration: none;
  background-color: var(--accent-2, var(--neutral-1));
  color: var(--neutral-8);
}
button.filled:disabled, button.filled[aria-disabled=true],
.button.filled:disabled,
.button.filled[aria-disabled=true] {
  cursor: not-allowed;
}
button.filled:focus, button.filled:hover,
.button.filled:focus,
.button.filled:hover {
  background-color: var(--accent-1, var(--neutral-2));
}
button.filled:active,
.button.filled:active {
  background-color: var(--accent-3, var(--neutral-3));
}
button.filled:disabled, button.filled[aria-disabled=true],
.button.filled:disabled,
.button.filled[aria-disabled=true] {
  background-color: var(--neutral-5);
  border-color: var(--neutral-5);
}
button.filled:disabled:hover, button.filled[aria-disabled=true]:hover,
.button.filled:disabled:hover,
.button.filled[aria-disabled=true]:hover {
  background-color: var(--neutral-7);
  color: var(--neutral-7);
}
button.outline,
.button.outline {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.5px solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  border-radius: var(--radius-1);
  text-decoration: none;
  background-color: var(--neutral-8);
  color: var(--accent-2, var(--neutral-2));
  border-color: var(--accent-2, var(--neutral-2));
}
button.outline:disabled, button.outline[aria-disabled=true],
.button.outline:disabled,
.button.outline[aria-disabled=true] {
  cursor: not-allowed;
}
button.outline:focus, button.outline:hover,
.button.outline:focus,
.button.outline:hover {
  background-color: var(--accent-4, var(--neutral-7));
  color: var(--accent-1, var(--neutral-1));
  border-color: var(--accent-1, var(--neutral-1));
}
button.outline:active,
.button.outline:active {
  color: var(--accent-3, var(--neutral-3));
  border-color: var(--accent-3, var(--neutral-3));
}
button.outline:disabled, button.outline[aria-disabled=true],
.button.outline:disabled,
.button.outline[aria-disabled=true] {
  color: var(--neutral-5);
  border-color: var(--neutral-5);
}
button.outline:disabled:hover, button.outline[aria-disabled=true]:hover,
.button.outline:disabled:hover,
.button.outline[aria-disabled=true]:hover {
  background-color: var(--neutral-7);
}
button.ghost,
.button.ghost {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.5px solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  border-radius: var(--radius-1);
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
  color: var(--accent-2, var(--neutral-2));
}
button.ghost:disabled, button.ghost[aria-disabled=true],
.button.ghost:disabled,
.button.ghost[aria-disabled=true] {
  cursor: not-allowed;
}
button.ghost:focus, button.ghost:hover,
.button.ghost:focus,
.button.ghost:hover {
  background-color: var(--accent-4, var(--neutral-7));
}
button.ghost:active,
.button.ghost:active {
  border-color: var(--accent-3, var(--neutral-3));
}
button.ghost:disabled, button.ghost[aria-disabled=true],
.button.ghost:disabled,
.button.ghost[aria-disabled=true] {
  color: var(--neutral-5);
}
button.ghost:disabled:hover, button.ghost[aria-disabled=true]:hover,
.button.ghost:disabled:hover,
.button.ghost[aria-disabled=true]:hover {
  background-color: var(--neutral-7);
  border-color: var(--neutral-7);
}
button.red,
.button.red {
  --accent-1: var(--red-2);
  --accent-2: var(--red-3);
  --accent-3: var(--red-4);
  --accent-4: var(--red-8);
}
button.orange,
.button.orange {
  --accent-1: var(--orange-1);
  --accent-2: var(--orange-2);
  --accent-3: var(--orange-3);
  --accent-4: var(--orange-8);
}
button.yellow,
.button.yellow {
  --accent-1: var(--yellow-1);
  --accent-2: var(--yellow-2);
  --accent-3: var(--yellow-3);
  --accent-4: var(--yellow-8);
}
button.green,
.button.green {
  --accent-1: var(--green-2);
  --accent-2: var(--green-3);
  --accent-3: var(--green-4);
  --accent-4: var(--green-8);
}
button.cyan,
.button.cyan {
  --accent-1: var(--cyan-2);
  --accent-2: var(--cyan-3);
  --accent-3: var(--cyan-4);
  --accent-4: var(--cyan-8);
}
button.blue,
.button.blue {
  --accent-1: var(--blue-2);
  --accent-2: var(--blue-3);
  --accent-3: var(--blue-4);
  --accent-4: var(--blue-8);
}
button.purple,
.button.purple {
  --accent-1: var(--purple-2);
  --accent-2: var(--purple-3);
  --accent-3: var(--purple-4);
  --accent-4: var(--purple-8);
}
button.pink,
.button.pink {
  --accent-1: var(--pink-2);
  --accent-2: var(--pink-3);
  --accent-3: var(--pink-3);
  --accent-4: var(--pink-8);
}

/* Elements: Text-based inputs */
input.input-1,
select.input-1 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent-1, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  --padding-y: var(--space-1);
  --padding-x: var(--space-2);
}
input.input-1::placeholder,
select.input-1::placeholder {
  color: var(--neutral-4);
}
input.input-1:hover,
select.input-1:hover {
  border-color: var(--accent-2, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-1:focus, input.input-1:active,
select.input-1:focus,
select.input-1:active {
  background-color: var(--neutral-8);
  border-color: var(--accent-1, var(--neutral-4));
}
input.input-1:disabled, input.input-1[aria-disabled=true],
select.input-1:disabled,
select.input-1[aria-disabled=true] {
  background-color: var(--neutral-6);
}
input.input-2,
select.input-2 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent-1, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  --padding-y: var(--space-2);
  --padding-x: var(--space-3);
}
input.input-2::placeholder,
select.input-2::placeholder {
  color: var(--neutral-4);
}
input.input-2:hover,
select.input-2:hover {
  border-color: var(--accent-2, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-2:focus, input.input-2:active,
select.input-2:focus,
select.input-2:active {
  background-color: var(--neutral-8);
  border-color: var(--accent-1, var(--neutral-4));
}
input.input-2:disabled, input.input-2[aria-disabled=true],
select.input-2:disabled,
select.input-2[aria-disabled=true] {
  background-color: var(--neutral-6);
}
input.input-3,
select.input-3 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent-1, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  --padding-y: var(--space-3);
  --padding-x: var(--space-4);
}
input.input-3::placeholder,
select.input-3::placeholder {
  color: var(--neutral-4);
}
input.input-3:hover,
select.input-3:hover {
  border-color: var(--accent-2, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-3:focus, input.input-3:active,
select.input-3:focus,
select.input-3:active {
  background-color: var(--neutral-8);
  border-color: var(--accent-1, var(--neutral-4));
}
input.input-3:disabled, input.input-3[aria-disabled=true],
select.input-3:disabled,
select.input-3[aria-disabled=true] {
  background-color: var(--neutral-6);
}
input.input-4,
select.input-4 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent-1, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  --padding-y: var(--space-4);
  --padding-x: var(--space-5);
}
input.input-4::placeholder,
select.input-4::placeholder {
  color: var(--neutral-4);
}
input.input-4:hover,
select.input-4:hover {
  border-color: var(--accent-2, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-4:focus, input.input-4:active,
select.input-4:focus,
select.input-4:active {
  background-color: var(--neutral-8);
  border-color: var(--accent-1, var(--neutral-4));
}
input.input-4:disabled, input.input-4[aria-disabled=true],
select.input-4:disabled,
select.input-4[aria-disabled=true] {
  background-color: var(--neutral-6);
}
input.red,
select.red {
  --accent-1: var(--red-3);
  --accent-2: var(--red-4);
}
input.orange,
select.orange {
  --accent-1: var(--orange-4);
  --accent-2: var(--orange-5);
}
input.yellow,
select.yellow {
  --accent-1: var(--yellow-4);
  --accent-2: var(--yellow-5);
}
input.green,
select.green {
  --accent-1: var(--green-3);
  --accent-2: var(--green-4);
}
input.cyan,
select.cyan {
  --accent-1: var(--cyan-4);
  --accent-2: var(--cyan-5);
}
input.blue,
select.blue {
  --accent-1: var(--blue-4);
  --accent-2: var(--blue-5);
}
input.purple,
select.purple {
  --accent-1: var(--purple-4);
  --accent-2: var(--purple-5);
}
input.pink,
select.pink {
  --accent-1: var(--pink-4);
  --accent-2: var(--pink-5);
}

/* Fallbacks */
@supports not (color: color(display-p3 1 1 1)) {
  :root {
    --neutral-8: oklch(98% 0.0097 250);
    --red-1: oklch(40% 0.16 25);
    --red-5: oklch(70% 0.19 25);
    --red-6: oklch(80% 0.1142 25);
    --red-7: oklch(90% 0.0511 25);
    --red-8: oklch(95% 0.0239 25);
    --yellow-1: oklch(70% 0.1447 80);
    --yellow-4: oklch(85% 0.1436 80);
    --yellow-5: oklch(89% 0.1033 80);
    --yellow-6: oklch(92% 0.0739 80);
    --yellow-7: oklch(95% 0.0457 80);
    --yellow-8: oklch(97% 0.0261 80);
    --green-1: oklch(35% 0.0729 165);
    --green-2: oklch(40% 0.0837 165);
    --green-3: oklch(50% 0.1044 165);
    --green-4: oklch(60% 0.1251 165);
    --green-5: oklch(70% 0.1469 165);
    --green-8: oklch(95% 0.0739 165);
    --blue-1: oklch(35% 0.1142 255);
    --blue-2: oklch(40% 0.1316 255);
    --blue-3: oklch(50% 0.1643 255);
    --blue-4: oklch(60% 0.1969 255);
    --blue-5: oklch(70% 0.1588 255);
    --blue-6: oklch(80% 0.1022 255);
    --blue-7: oklch(90% 0.0489 255);
    --blue-8: oklch(95% 0.0239 255);
  }
}
@supports not (color: oklch(60% 0.15 165)) {
  :root {
    --neutral-1: #13161a;
    --neutral-2: #373b40;
    --neutral-3: #51565b;
    --neutral-4: #6d7277;
    --neutral-5: #c9ced4;
    --neutral-6: #d9dfe5;
    --neutral-7: #eaeff5;
    --neutral-8: #f4f9ff;
    --red-1: #8a0012;
    --red-2: #a30018;
    --red-3: #bc001d;
    --red-4: #ee0b2a;
    --red-5: #ff635f;
    --red-6: #ffa098;
    --red-7: #ffd1cd;
    --red-8: #ffe9e6;
    --yellow-1: #cd9200;
    --yellow-2: #dfa11a;
    --yellow-3: #f0b135;
    --yellow-4: #ffc251;
    --yellow-5: #ffd48a;
    --yellow-6: #ffe0ad;
    --yellow-7: #ffeccd;
    --yellow-8: #fff7eb;
    --green-1: #004631;
    --green-2: #00563c;
    --green-3: #007654;
    --green-4: #00976d;
    --green-5: #00ba87;
    --green-6: #41dca5;
    --green-7: #c0ffe2;
    --green-8: #e8fff4;
    --blue-1: #003974;
    --blue-2: #00468c;
    --blue-3: #0061be;
    --blue-4: #007df2;
    --blue-5: #53a0ff;
    --blue-6: #91c1ff;
    --blue-7: #c9e0ff;
    --blue-8: #e4f0ff;
  }
}
