/*! Tundra.css - https: //github.com/joshdales/tundra-css - MIT License */
:root {
  --neutral-1: oklch(20% 0.01 250);
  --neutral-2: oklch(35% 0.01 250);
  --neutral-3: oklch(45% 0.01 250);
  --neutral-4: oklch(55% 0.01 250);
  --neutral-5: oklch(85% 0.01 250);
  --neutral-6: oklch(90% 0.01 250);
  --neutral-7: oklch(95% 0.01 250);
  --neutral-8: oklch(98% 0.01 250);
  --red-1: oklch(40% 0.18 25);
  --red-2: oklch(45% 0.2 25);
  --red-3: oklch(50% 0.2274 25);
  --red-4: oklch(60% 0.24 25);
  --red-5: oklch(70% 0.24 25);
  --red-6: oklch(80% 0.138 25);
  --red-7: oklch(90% 0.0663 25);
  --red-8: oklch(95% 0.0315 25);
  --blue-1: oklch(35% 0.14 255);
  --blue-2: oklch(40% 0.16 255);
  --blue-3: oklch(50% 0.2 255);
  --blue-4: oklch(60% 0.2 255);
  --blue-5: oklch(70% 0.17 255);
  --blue-6: oklch(80% 0.111 255);
  --blue-7: oklch(90% 0.0533 255);
  --blue-8: oklch(95% 0.0261 255);
  --green-1: oklch(35% 0.1 165);
  --green-2: oklch(40% 0.11 165);
  --green-3: oklch(50% 0.14 165);
  --green-4: oklch(60% 0.15 165);
  --green-5: oklch(70% 0.15 165);
  --green-6: oklch(80% 0.15 165);
  --green-7: oklch(90% 0.15 165);
  --green-8: oklch(95% 0.08 165);
  --yellow-1: oklch(70% 0.15 80);
  --yellow-2: oklch(75% 0.15 80);
  --yellow-3: oklch(80% 0.15 80);
  --yellow-4: oklch(85% 0.15 80);
  --yellow-5: oklch(89% 0.129 80);
  --yellow-6: oklch(92% 0.092 80);
  --yellow-7: oklch(95% 0.056 80);
  --yellow-8: oklch(97% 0.0337 80);
  --red: var(--red-4);
  --blue: var(--blue-4);
  --green: var(--green-4);
  --yellow: var(--yellow-4);
  --radius-1: 3px;
  --radius-2: 6px;
  --radius-3: 12px;
  --radius-4: 24px;
  --radius-5: 48px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 14px;
  --space-5: 16px;
  --space-6: 18px;
  --space-7: 20px;
  --space-8: 24px;
  --space-9: 28px;
  --space-10: 32px;
  --space-11: 40px;
  --space-12: 48px;
  --space-13: 64px;
  --space-14: 128px;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 700;
  --font-size-1: var(--space-3);
  --font-size-2: var(--space-4);
  --font-size-3: var(--space-5);
  --font-size-4: var(--space-6);
  --font-size-5: var(--space-7);
  --font-size-6: var(--space-8);
  --font-size-7: var(--space-9);
  --font-size-8: var(--space-10);
  --font-size-9: var(--space-12);
  --line-height-1: 1;
  --line-height-2: 1.05;
  --line-height-3: 1.15;
  --line-height-4: 1.25;
  --line-height-5: 1.5;
  --letter-spacing-1: -0.04em;
  --letter-spacing-2: -0.02em;
  --letter-spacing-3: 0em;
  --letter-spacing-4: 0.02em;
  --letter-spacing-5: 0.04em;
}

html {
  background-color: var(--neutral-8);
  color: var(--neutral-1);
}

.heading-1 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-4);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}

.heading-2 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}

.heading-3 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-6);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}

.heading-4 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-7);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-4);
}

.heading-5 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-8);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-3);
}

.heading-6 {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-9);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-2);
}

.alt-heading-1 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-4);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-3);
}

.alt-heading-2 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-3);
}

.alt-heading-3 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-6);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-2);
}

.alt-heading-4 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-7);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-2);
}

.alt-heading-5 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-8);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-1);
}

.alt-heading-6 {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-9);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-1);
}

.body-1 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-4);
}

.body-2 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
  letter-spacing: var(--letter-spacing-4);
}

.body-3 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
  letter-spacing: var(--letter-spacing-3);
}

.body-4 {
  line-height: var(--line-height-5);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-1);
  letter-spacing: var(--letter-spacing-2);
}

.link-1 {
  cursor: pointer;
  text-decoration: underline;
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-1);
  letter-spacing: var(--letter-spacing-5);
}

.link-2 {
  cursor: pointer;
  text-decoration: underline;
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-5);
}

.link-3 {
  cursor: pointer;
  text-decoration: underline;
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-4);
}

.link-4 {
  cursor: pointer;
  text-decoration: underline;
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-4);
}

.button-1, button.button-1,
.button.button-1 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-2);
}

.button-2, button.button-2,
.button.button-2 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-3);
}

.button-3, button.button-3,
.button.button-3 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-4);
}

.button-4, button.button-4,
.button.button-4 {
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-5);
  font-size: var(--font-size-5);
}

.label-1 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-5);
}

.label-2 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-4);
}

.label-3 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-4);
}

.label-4 {
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
  font-size: var(--font-size-5);
  letter-spacing: var(--letter-spacing-3);
}

.input-1, input.input-1 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-5);
}

.input-2, input.input-2 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-4);
}

.input-3, input.input-3 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-3);
}

.input-4, input.input-4 {
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-5);
  letter-spacing: var(--letter-spacing-2);
}

button.button-1,
.button.button-1 {
  --padding-y: var(--space-1);
  --padding-x: var(--space-2);
}
button.button-2,
.button.button-2 {
  --padding-y: var(--space-2);
  --padding-x: var(--space-3);
}
button.button-3,
.button.button-3 {
  --padding-y: var(--space-3);
  --padding-x: var(--space-4);
}
button.button-4,
.button.button-4 {
  --padding-y: var(--space-4);
  --padding-x: var(--space-5);
}
button.filled,
.button.filled {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.5px solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  border-radius: var(--radius-1);
  text-decoration: none;
  background-color: var(--btn-2, var(--neutral-1));
  color: var(--neutral-8);
}
button.filled:disabled,
.button.filled:disabled {
  cursor: not-allowed;
}
button.filled:hover, button.filled:focus,
.button.filled:hover,
.button.filled:focus {
  background-color: var(--btn-1, var(--neutral-2));
}
button.filled:active,
.button.filled:active {
  background-color: var(--btn-3, var(--neutral-3));
}
button.filled:disabled,
.button.filled:disabled {
  background-color: var(--neutral-5);
  border-color: var(--neutral-5);
}
button.outline,
.button.outline {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.5px solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  border-radius: var(--radius-1);
  text-decoration: none;
  background-color: var(--neutral-8);
  color: var(--btn-2, var(--neutral-2));
  border-color: var(--btn-2, var(--neutral-2));
}
button.outline:disabled,
.button.outline:disabled {
  cursor: not-allowed;
}
button.outline:hover, button.outline:focus,
.button.outline:hover,
.button.outline:focus {
  background-color: var(--btn-4, var(--neutral-7));
  color: var(--btn-1, var(--neutral-1));
  border-color: var(--btn-1, var(--neutral-1));
}
button.outline:active,
.button.outline:active {
  color: var(--btn-3, var(--neutral-3));
  border-color: var(--btn-3, var(--neutral-3));
}
button.outline:disabled,
.button.outline:disabled {
  background-color: var(--neutral-5);
  color: var(--neutral-4);
  border-color: var(--neutral-4);
}
button.ghost,
.button.ghost {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.5px solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  border-radius: var(--radius-1);
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
  color: var(--btn-1, var(--neutral-2));
}
button.ghost:disabled,
.button.ghost:disabled {
  cursor: not-allowed;
}
button.ghost:hover, button.ghost:focus,
.button.ghost:hover,
.button.ghost:focus {
  background-color: var(--btn-4, var(--neutral-7));
}
button.ghost:active,
.button.ghost:active {
  border-color: var(--btn-3, var(--neutral-3));
}
button.ghost:disabled,
.button.ghost:disabled {
  color: var(--neutral-5);
}
button.ghost:disabled:hover,
.button.ghost:disabled:hover {
  background-color: var(--neutral-7);
  border-color: var(--neutral-7);
}
button.red,
.button.red {
  --btn-1: var(--red-2);
  --btn-2: var(--red-3);
  --btn-3: var(--red-4);
  --btn-4: var(--red-8);
}
button.blue,
.button.blue {
  --btn-1: var(--blue-2);
  --btn-2: var(--blue-3);
  --btn-3: var(--blue-4);
  --btn-4: var(--blue-8);
}
button.green,
.button.green {
  --btn-1: var(--green-2);
  --btn-2: var(--green-3);
  --btn-3: var(--green-4);
  --btn-4: var(--green-8);
}
button.yellow,
.button.yellow {
  --btn-1: var(--yellow-1);
  --btn-2: var(--yellow-2);
  --btn-3: var(--yellow-3);
  --btn-4: var(--yellow-8);
}

input.input-1 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-5);
  --padding-y: var(--space-2);
  --padding-x: var(--space-3);
}
input.input-1::placeholder {
  color: var(--neutral-4);
}
input.input-1:hover {
  background-color: var(--neutral-7);
  border-color: var(--accent, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-1:focus, input.input-1:active {
  background-color: var(--neutral-8);
  border-color: var(--accent, var(--neutral-4));
}
input.input-1:disabled {
  background-color: var(--neutral-6);
}
input.input-2 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-4);
  --padding-y: var(--space-3);
  --padding-x: var(--space-4);
}
input.input-2::placeholder {
  color: var(--neutral-4);
}
input.input-2:hover {
  background-color: var(--neutral-7);
  border-color: var(--accent, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-2:focus, input.input-2:active {
  background-color: var(--neutral-8);
  border-color: var(--accent, var(--neutral-4));
}
input.input-2:disabled {
  background-color: var(--neutral-6);
}
input.input-3 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-3);
  --padding-y: var(--space-4);
  --padding-x: var(--space-4);
}
input.input-3::placeholder {
  color: var(--neutral-4);
}
input.input-3:hover {
  background-color: var(--neutral-7);
  border-color: var(--accent, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-3:focus, input.input-3:active {
  background-color: var(--neutral-8);
  border-color: var(--accent, var(--neutral-4));
}
input.input-3:disabled {
  background-color: var(--neutral-6);
}
input.input-4 {
  background-color: var(--neutral-8);
  border: 1.5px solid var(--neutral-6);
  border-radius: var(--radius-1);
  caret-color: var(--accent, var(--neutral-4));
  outline: none;
  padding-inline: var(--padding-x);
  padding-block: var(--padding-y);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
  font-size: var(--font-size-5);
  letter-spacing: var(--letter-spacing-2);
  --padding-y: var(--space-4);
  --padding-x: var(--space-5);
}
input.input-4::placeholder {
  color: var(--neutral-4);
}
input.input-4:hover {
  background-color: var(--neutral-7);
  border-color: var(--accent, var(--neutral-5));
  box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250/10%);
}
input.input-4:focus, input.input-4:active {
  background-color: var(--neutral-8);
  border-color: var(--accent, var(--neutral-4));
}
input.input-4:disabled {
  background-color: var(--neutral-6);
}
input.red {
  --accent: var(--red);
}
input.blue {
  --accent: var(--blue);
}
input.green {
  --accent: var(--green);
}
input.yellow {
  --accent: var(--yellow);
}

@supports not (color: color(display-p3 1 1 1)) {
  :root {
    --neutral-8: oklch(98% 0.0097 250);
    --red-1: oklch(40% 0.16 25);
    --red-5: oklch(70% 0.19 25);
    --red-6: oklch(80% 0.1142 25);
    --red-7: oklch(90% 0.0511 25);
    --red-8: oklch(95% 0.0239 25);
    --green-1: oklch(35% 0.0729 165);
    --green-2: oklch(40% 0.0837 165);
    --green-3: oklch(50% 0.1044 165);
    --green-4: oklch(60% 0.1251 165);
    --green-5: oklch(70% 0.1469 165);
    --green-8: oklch(95% 0.0739 165);
    --blue-1: oklch(35% 0.1142 255);
    --blue-2: oklch(40% 0.1316 255);
    --blue-3: oklch(50% 0.1643 255);
    --blue-4: oklch(60% 0.1969 255);
    --blue-5: oklch(70% 0.1588 255);
    --blue-6: oklch(80% 0.1022 255);
    --blue-7: oklch(90% 0.0489 255);
    --blue-8: oklch(95% 0.0239 255);
    --yellow-1: oklch(70% 0.1447 80);
    --yellow-4: oklch(85% 0.1436 80);
    --yellow-5: oklch(89% 0.1033 80);
    --yellow-6: oklch(92% 0.0739 80);
    --yellow-7: oklch(95% 0.0457 80);
    --yellow-8: oklch(97% 0.0261 80);
  }
}
