@import 'modern-normalize' layer(normalize);
@import 'tundra-css' layer(tundra);

@layer reset {
	* {
		margin: 0;
		position: relative;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		text-wrap: pretty;
	}

	a,
	label {
		cursor: pointer;
	}
}


/* Any global styles should come after this */

:root {
	--accent: var(--green-4);
	--foreground: var(--neutral-1);
	--background: var(--neutral-8);
}

html,
body {
	min-height: 100lvh;
}

main {
	width: 100%;
	max-width: 1400px;
	padding-block: var(--space-8);
	padding-inline: var(--space-10);
	margin: auto;
}

code {
	background-color: var(--neutral-7);
	color: var(--accent);
	padding-inline: var(--space-2);
	padding-block: var(--space-1);
	border-radius: var(--radius-1);
}
