@use '../spacing' as *;
@use '../utils/text.scss' as utils;

$font-size-1: utils.convert_px_to_rem($space-3);
$font-size-2: utils.convert_px_to_rem($space-4);
$font-size-3: utils.convert_px_to_rem($space-5);
$font-size-4: utils.convert_px_to_rem($space-6);
$font-size-5: utils.convert_px_to_rem($space-7);
$font-size-6: utils.convert_px_to_rem($space-8);
$font-size-7: utils.convert_px_to_rem($space-9);
$font-size-8: utils.convert_px_to_rem($space-10);
$font-size-9: utils.convert_px_to_rem($space-12);
