@use "sass:math";

@mixin text-properties {
	font-size: var(--text-font-size);
	font-weight: var(--text-font-weight);
	line-height: var(--text-line-height);
	letter-spacing: var(--text-letter-spacing);
}

@mixin bold_text($value) {
	b,
	strong {
		--text-font-weight: #{$value};
	}
}

@function convert_px_to_rem($value, $base: 16) {
	$unitless-value: math.div($value, 1px);
	$conversion: math.div($unitless-value, $base);
	$rem: $conversion * 1rem;
	@return $rem;
}
