@use 'sass:math';

@mixin text-properties {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}

@mixin bold_text($value) {

	b,
	strong {
		--font-weight: #{$value};
	}
}

@function convert_px_to_rem($value, $base: 16) {
	$unitless-value: math.div($value, 1px);
	$conversion: math.div($unitless-value, $base);
	$rem: $conversion * 1rem;
	@return $rem;
}
