@use '../utils/text' as utils;

@mixin text($level) {
	@include text-properties;
	--font-weight: var(--font-weight-3);
	--line-height: var(--line-height-5);

	@if $level ==1 {
		--font-size: var(--font-size-1);
		--font-weight: var(--font-weight-2);
		--letter-spacing: var(--letter-spacing-4);

		@include utils.bold_text(var(--font-weight-3))
	}

	@else if $level ==2 {
		--font-size: var(--font-size-2);
		--font-weight: var(--font-weight-2);
		--letter-spacing: var(--letter-spacing-4);

		@include utils.bold_text(var(--font-weight-3))
	}

	@else if $level ==3 {
		--font-size: var(--font-size-3);
		--font-weight: var(--font-weight-1);
		--letter-spacing: var(--letter-spacing-2);

		@include utils.bold_text(var(--font-weight-2))
	}

	@else if $level ==4 {
		--font-size: var(--font-size-4);
		--font-weight: var(--font-weight-1);
		--letter-spacing: var(--letter-spacing-2);

		@include utils.bold_text(var(--font-weight-2))
	}

}
