@use "../utils/text" as utils;

@mixin text($level) {
	@extend .text;
	--text-font-weight: var(--font-weight-2);
	--text-line-height: var(--line-height-4);

	@if $level ==1 {
		--text-font-size: var(--font-size-2);
	} @else if $level ==2 {
		--text-font-size: var(--font-size-3);
	} @else if $level ==3 {
		--text-font-size: var(--font-size-4);
	} @else if $level ==4 {
		--text-font-size: var(--font-size-5);
	}

	@include utils.bold_text(var(--font-weight-3));
}
