@use '../utils/text' as utils;

@mixin text($level) {
	font-size: var(--font-size);
	font-weight: var(--font-weight, var(--font-weight-2));
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);

	@if $level ==1 {
		--font-size: var(--font-size-4);
		--line-height: var(--line-height-5);
		--letter-spacing: var(--letter-spacing-3);
	}

	@else if $level ==2 {
		--font-size: var(--font-size-5);
		--line-height: var(--line-height-5);
		--letter-spacing: var(--letter-spacing-3);
	}

	@else if $level ==3 {
		--font-size: var(--font-size-6);
		--line-height: var(--line-height-5);
		--letter-spacing: var(--letter-spacing-2);
	}

	@else if $level ==4 {
		--font-size: var(--font-size-7);
		--line-height: var(--line-height-5);
		--letter-spacing: var(--letter-spacing-2);
	}

	@else if $level ==5 {
		--font-size: var(--font-size-8);
		--line-height: var(--line-height-4);
		--letter-spacing: var(--letter-spacing-1);
	}

	@else if $level ==6 {
		--font-size: var(--font-size-9);
		--line-height: var(--line-height-4);
		--letter-spacing: var(--letter-spacing-1);
	}

	@include utils.bold_text(var(--font-weight-3))
}
