@use "../utils/text" as utils;

@mixin text($level) {
	@extend %text-properties;
	--text-font-weight: var(--font-weight-2);

	@if $level ==1 {
		--text-font-size: var(--font-size-4);
		--text-line-height: var(--line-height-5);
		--text-letter-spacing: var(--letter-spacing-3);
	} @else if $level ==2 {
		--text-font-size: var(--font-size-5);
		--text-line-height: var(--line-height-5);
		--text-letter-spacing: var(--letter-spacing-3);
	} @else if $level ==3 {
		--text-font-size: var(--font-size-6);
		--text-line-height: var(--line-height-5);
		--text-letter-spacing: var(--letter-spacing-2);
	} @else if $level ==4 {
		--text-font-size: var(--font-size-7);
		--text-line-height: var(--line-height-5);
		--text-letter-spacing: var(--letter-spacing-2);
	} @else if $level ==5 {
		--text-font-size: var(--font-size-8);
		--text-line-height: var(--line-height-4);
		--text-letter-spacing: var(--letter-spacing-1);
	} @else if $level ==6 {
		--text-font-size: var(--font-size-9);
		--text-line-height: var(--line-height-4);
		--text-letter-spacing: var(--letter-spacing-1);
	}

	@include utils.bold_text(var(--font-weight-3));
}
