@use "../utils/text" as utils;

@mixin text($level) {
	@extend %text-properties;
	--text-font-weight: var(--font-weight-1);
	--text-line-height: var(--line-height-4);

	@if $level ==1 {
		--text-font-size: var(--font-size-2);
		--text-letter-spacing: var(--letter-spacing-5);
	} @else if $level ==2 {
		--text-font-size: var(--font-size-3);
		--text-letter-spacing: var(--letter-spacing-4);
	} @else if $level ==3 {
		--text-font-size: var(--font-size-4);
		--text-letter-spacing: var(--letter-spacing-3);
	} @else if $level ==4 {
		--text-font-size: var(--font-size-5);
		--text-letter-spacing: var(--letter-spacing-2);
	}

	@include utils.bold_text(var(--font-weight-2));
}
