@mixin label($level) {
	font-weight: var(--font-weight-2);
	line-height: var(--line-height-3);

	@if $level ==1 {
		font-size: var(--font-size-2);
		letter-spacing: var(--letter-spacing-5);
	}

	@else if $level ==2 {
		font-size: var(--font-size-3);
		letter-spacing: var(--letter-spacing-4);
	}

	@else if $level ==3 {
		font-size: var(--font-size-4);
		letter-spacing: var(--letter-spacing-4);
	}

	@else if $level ==4 {
		font-size: var(--font-size-5);
		letter-spacing: var(--letter-spacing-3);
	}
}

%label-1 {
	@include label(1);
}

%label-2 {
	@include label(2);
}

%label-3 {
	@include label(3);
}

%label-4 {
	@include label(4);
}
