@mixin text($level) {
	cursor: pointer;
	text-decoration: underline;
	font-weight: var(--font-weight-2);
	line-height: var(--line-height-4);

	@if $level ==1 {
		font-size: var(--font-size-1);
		letter-spacing: var(--letter-spacing-5);
	}

	@else if $level ==2 {
		font-size: var(--font-size-2);
		letter-spacing: var(--letter-spacing-5);
	}

	@else if $level ==3 {
		font-size: var(--font-size-3);
		letter-spacing: var(--letter-spacing-4);
	}

	@else if $level ==4 {
		font-size: var(--font-size-4);
		letter-spacing: var(--letter-spacing-4);
	}
}
