@use "./utils";

@mixin base {
	cursor: pointer;
	box-sizing: border-box;
	border: 1.5px solid;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);
	border-radius: var(--border-radius, var(--radius-2));
	text-decoration: none;

	@include utils.disabled {
		cursor: not-allowed;
	}
}

@mixin size($level) {
	@if $level ==1 {
		--gap: var(--space-1);
		--padding-y: var(--space-1);
		--padding-x: var(--space-2);
	} @else if $level ==2 {
		--gap: var(--space-2);
		--padding-y: var(--space-2);
		--padding-x: var(--space-5);
	} @else if $level ==3 {
		--gap: var(--space-3);
		--padding-y: var(--space-3);
		--padding-x: var(--space-8);
	} @else if $level ==4 {
		--gap: var(--space-5);
		--padding-y: var(--space-5);
		--padding-x: var(--space-10);
	}
}

/// A button of a solid colour
///
/// @param {boolean} $include_base
/// 	Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
@mixin filled($include_base: false) {
	@if $include_base {
		@include base;
	}

	--background: var(--accent-4, var(--neutral-1));

	background-color: var(--background);
	border-color: var(--background);
	color: var(--accent-9, var(--neutral-9));

	@include _viewing {
		--background: var(--accent-3, var(--neutral-2));
	}

	&:active {
		--background: var(--accent-2, var(--neutral-3));
	}

	@include utils.disabled {
		--background: var(--neutral-7);
		--foreground: var(--neutral-9);

		&:hover {
			--background: var(--neutral-8);
		}
	}
}

/// A button of a with a neutral background and accented border and text colour
///
/// @param {boolean} $include_base
/// 	Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
@mixin outline($include_base: false) {
	@if $include_base {
		@include base;
	}

	--background: var(--accent-9, var(--neutral-9));
	--foreground: var(--accent-4, var(--neutral-1));

	background-color: var(--background);
	border-color: var(--foreground);
	color: var(--foreground);

	@include _viewing {
		--foreground: var(--accent-3, var(--neutral-2));
		box-shadow: inset 0px 0 0 0.5px currentColor;
	}

	&:active {
		--background: var(--accent-8, var(--neutral-8));
		--foreground: var(--accent-2, var(--neutral-3));
	}

	@include utils.disabled {
		--background: var(--neutral-9);
		--foreground: var(--neutral-7);

		&:hover {
			--foreground: var(--neutral-8);
		}
	}
}

/// A transparent button with accented text
///
/// @param {boolean} $include_base
/// 	Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
@mixin ghost($include_base: false) {
	@if $include_base {
		@include base;
	}

	--background: transparent;
	--foreground: var(--accent-4, var(--neutral-1));

	background-color: var(--background);
	border-color: var(--background);
	color: var(--foreground);

	@include _viewing {
		--background: var(--accent-9, var(--neutral-9));
		--foreground: var(--accent-3, var(--neutral-2));
	}

	&:active {
		--background: var(--accent-8, var(--neutral-8));
		--foreground: var(--accent-2, var(--neutral-3));
	}

	@include utils.disabled {
		--foreground: var(--neutral-7);

		&:hover {
			--background: var(--neutral-9);
			--foreground: var(--neutral-8);
		}
	}
}
