@use "./utils";

/// Properties that stylable on the button
@mixin base {
	cursor: pointer;
	box-sizing: border-box;
	border: 1.5px solid;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;

	gap: var(--button-gap);
	padding-inline: var(--button-padding-x);
	padding-block: var(--button-padding-y);
	border-radius: var(--button-border-radius, var(--radius-2));
	border-color: var(--button-color-border);
	background-color: var(--button-color-background);
	color: var(--button-color-foreground);

	@include utils.disabled {
		cursor: not-allowed;
	}
}

/// Sets the padding and interal gaps of the button.
/// @param {number} $level - The size of the button, 1 - 4 smallest to largest.
@mixin size($level) {
	@if $level ==1 {
		--button-gap: var(--space-1);
		--button-padding-y: var(--space-1);
		--button-padding-x: var(--space-2);
	} @else if $level ==2 {
		--button-gap: var(--space-2);
		--button-padding-y: var(--space-2);
		--button-padding-x: var(--space-4);
	} @else if $level ==3 {
		--button-gap: var(--space-3);
		--button-padding-y: var(--space-3);
		--button-padding-x: var(--space-6);
	} @else if $level ==4 {
		--button-gap: var(--space-4);
		--button-padding-y: var(--space-4);
		--button-padding-x: var(--space-8);
	}
}

/// A button of a solid accent colour
/// @param {boolean} $include_base [false] - Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
@mixin filled($include_base: false) {
	@if $include_base {
		@include base;
	}

	--button-color-background: var(--color-accent-5, var(--color-neutral-1));
	--button-color-border: var(--button-color-background);
	--button-color-foreground: var(--color-background);

	@include utils.viewing {
		--button-color-background: var(--color-accent-4, var(--color-neutral-2));
	}

	&:active {
		--button-color-background: var(--color-accent-3, var(--color-neutral-3));
	}

	@include utils.disabled {
		--button-color-background: var(--color-neutral-7);
		--button-color-foreground: var(--color-neutral-9);

		&:hover {
			--button-color-background: var(--color-neutral-8);
		}
	}
}

/// A button of a with a neutral background and accented border and text in the same colour
/// @param {boolean} $include_base [false]- Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
@mixin outline($include_base: false) {
	@if $include_base {
		@include base;
	}

	--button-color-background: var(--color-background);
	--button-color-foreground: var(--color-accent-5, var(--color-neutral));
	--button-color-border: var(var(--button-color-foreground));

	@include utils.viewing {
		--button-color-foreground: var(--color-accent-4, var(--color-neutral-2));
		box-shadow: inset 0px 0 0 0.5px currentColor;
	}

	&:active {
		--button-color-background: var(--color-accent-8, var(--color-neutral-8));
		--button-color-foreground: var(--color-accent-3, var(--color-neutral-3));
	}

	@include utils.disabled {
		--button-color-foreground: var(--color-neutral-7);

		&:hover {
			--button-color-foreground: var(--color-neutral-8);
		}

		&:active {
			--button-color-background: var(--color-background);
		}
	}
}

/// A transparent button with accented text
/// @param {boolean} $include_base [false] - Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
@mixin ghost($include_base: false) {
	@if $include_base {
		@include base;
	}

	--button-color-background: transparent;
	--button-color-foreground: var(--color-accent-5, var(--color-neutral-1));
	--button-color-border: var(--button-color-background);

	@include utils.viewing {
		--button-color-background: var(--color-accent-9, var(--color-neutral-9));
		--button-color-foreground: var(--color-accent-3, var(--color-neutral-2));
	}

	&:active {
		--button-color-background: var(--color-accent-8, var(--color-neutral-8));
		--button-color-foreground: var(--color-accent-2, var(--color-neutral-3));
	}

	@include utils.disabled {
		--button-color-foreground: var(--color-neutral-7);

		&:hover {
			--button-color-background: var(--color-neutral-9);
			--button-color-foreground: var(--color-neutral-8);
		}
	}
}
