@use "./utils" as utils;

@mixin base {
	appearance: none;
	cursor: pointer;
	position: relative;
	border: 1px solid;

	height: var(--checkbox-size);
	width: var(--checkbox-size);
	border-radius: var(--checkbox-border-radius, var(--radius-1));
	border-color: var(--checkbox-border-color, var(--neutral-6));
	background-color: var(--checkbox-background);
	--checkbox-foreground: var(--accent-9, var(--neutral-9));

	&::after {
		color: var(--checkbox-foreground);
		display: grid;
		place-content: center;
		position: absolute;
		inset: 0;
		font-size: var(--checkbox-tick-size);
	}

	&:active {
		--checkbox-border-color: var(--accent-5, var(--neutral-3));
		--checkbox-background: var(--accent-5, var(--neutral-3));
	}

	@include utils.viewing {
		--checkbox-border-color: var(--accent-4, var(--neutral-3));
		--checkbox-background: var(--accent-9, var(--neutral-9));
	}

	&:checked {
		--checkbox-background: var(--accent-5, var(--neutral-1));
		--checkbox-border-color: var(--checkbox-background);

		@include utils.viewing {
			--checkbox-background: var(--accent-4, var(--neutral-2));
		}

		&:active {
			--checkbox-background: var(--accent-3, var(--neutral-3));
		}
	}

	@include utils.disabled {
		--checkbox-background-color: var(--neutral-6);
	}
}

@mixin size($level) {
	@if $level ==1 {
		--checkbox-size: var(--space-4);
	}

	@if $level ==2 {
		--checkbox-size: var(--space-5);
	}

	@if $level ==3 {
		--checkbox-size: var(--space-6);
	}

	@if $level ==4 {
		--checkbox-size: var(--space-7);
	}
}

@mixin checkbox($level: null) {
	@include base;
	@include size($level);

	&:checked::after {
		content: "✔︎";
		--checkbox-tick-size: 90%;
	}

	&:indeterminate {
		--checkbox-border-color: var(--accent-5, var(--neutral-1));
		--checkbox-foreground: var(--accent-5, var(--neutral-1));

		&::after {
			content: "";
			background-color: currentColor;
			display: block;
			width: 75%;
			height: 10%;
			margin: auto;
			border-radius: var(--checkbox-border-radius);
		}
	}
}

@mixin radio($level: null) {
	@include base;
	@include size($level);
	--checkbox-border-radius: var(--radius-5);

	&:checked::after {
		content: "✔︎";
		--checkbox-tick-size: 80%;
	}
}
