@use "./utils" as utils;

/// Applies the base styles and properties to a toggle element.
@mixin base {
	appearance: none;
	cursor: pointer;
	position: relative;
	border: 1.5px solid;

	height: var(--checkbox-size);
	width: var(--checkbox-size);
	border-radius: var(--checkbox-border-radius, var(--radius-1));
	border-color: var(--checkbox-color-border, var(--neutral-6));
	background-color: var(--checkbox-color-background);

	--checkbox-color-foreground: var(--accent-9, var(--neutral-9));

	&::after {
		color: var(--checkbox-color-foreground);
		display: grid;
		place-content: center;
		position: absolute;
		inset: 0;
		font-size: var(--checkbox-tick-size);
	}
}

/// The size of the toggle element
/// @param {number} $level - How big the the input should be, 1 - 4, smallest to largest.
@mixin size($level) {
	@if $level ==1 {
		--checkbox-size: var(--space-4);
	} @else if $level ==2 {
		--checkbox-size: var(--space-5);
	} @else if $level ==3 {
		--checkbox-size: var(--space-6);
	} @else if $level ==4 {
		--checkbox-size: var(--space-7);
	}
}

/// Styles for the toggle container itself.
@mixin container {
	&:active {
		--checkbox-color-border: var(--accent-5, var(--neutral-3));
		--checkbox-color-background: var(--accent-5, var(--neutral-3));
	}

	@include utils.viewing {
		--checkbox-color-border: var(--accent-4, var(--neutral-3));
		--checkbox-color-background: var(--accent-9, var(--neutral-9));
	}

	&:checked {
		--checkbox-color-background: var(--accent-5, var(--neutral-1));
		--checkbox-color-border: var(--checkbox-color-background);

		content: "✔︎";

		@include utils.viewing {
			--checkbox-color-background: var(--accent-4, var(--neutral-2));
		}

		&:active {
			--checkbox-color-background: var(--accent-3, var(--neutral-3));
		}
	}

	@include utils.disabled {
		--checkbox-color-background-color: var(--neutral-6);
	}
}

/// Style a square checkbox element.
/// @param {number} $level - The size of the checkbox, 1 - 4, smallest to largest.
/// @param {boolean} $include_base [false] - Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
/// @param {boolean} $include_container [false] - Include the toggle container styles, this is optional to minimise the css duplication in the root `index.css`
@mixin checkbox($level: null, $include_base: false, $include_container: false) {
	@include size($level);
	@if $include_base {
		@include base;
	}
	@if $include_container {
		@include container;
	}

	&:checked::after {
		--checkbox-tick-size: 90%;
	}

	&:indeterminate {
		--checkbox-color-border: var(--accent-5, var(--neutral-1));
		--checkbox-color-foreground: var(--accent-5, var(--neutral-1));

		&::after {
			content: "";
			background-color: currentColor;
			display: block;
			width: 75%;
			height: 12.5%;
			margin: auto;
			border-radius: var(--radius-1);
		}
	}
}

/// Style a round radio element
/// @param {number} $level - The size of the checkbox, 1 - 4, smallest to largest.
/// @param {boolean} $include_base [false] - Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
/// @param {boolean} $include_container [false] - Include the toggle container styles, this is optional to minimise the css duplication in the root `index.css`
@mixin radio($level: null, $include_base: false, $include_container: false) {
	--checkbox-border-radius: var(--radius-5);
	@include size($level);
	@if $include_base {
		@include base;
	}
	@if $include_container {
		@include container;
	}

	&:checked::after {
		--checkbox-tick-size: 80%;
	}
}
