@use "./utils" as utils;

@mixin _tick($level) {

	&::before,
	&::after {
		content: '';
		background-color: var(--accent-8, var(--neutral-8));
	}

	&::before {
		transform: rotate(50deg);
		width: 45%;
		margin-bottom: 30%;
		margin-left: 5%;
	}

	&::after {
		transform: rotate(310deg);
		width: 80%;
		margin-bottom: 45%;

		@if $level % 2==0 {
			margin-left: 20%;
		}

		@else {
			margin-left: 22%;
		}
	}
}

@mixin base {
	appearance: none;
	position: relative;
	height: var(--size);
	width: var(--size);
	cursor: pointer;
	border: 1.5px solid var(--neutral-6);
	border-radius: var(--border-radius, var(--radius-1));

	&::before,
	&::after {
		position: absolute;
		inset: 0;
		z-index: 1;
		margin: auto;
		height: 15%;
		border-radius: var(--radius-1);
	}

	&:active {
		border-color: var(--accent-4, var(--neutral-3));
		background-color: var(--accent-4, var(--neutral-3));
	}

	&:hover,
	&:focus-visible {
		border-color: var(--accent-3, var(--neutral-3));
		background-color: var(--accent-8, var(--neutral-7));
	}

	&:checked {
		--background: var(--accent-4, var(--neutral-2));
		background-color: var(--background);
		border-color: var(--background);

		&:hover,
		&:focus-visible {
			--background: var(--accent-3, var(--neutral-1));
		}

		&:active {
			--background: var(--accent-5, var(--neutral-3));
		}
	}

	@include utils.disabled {
		background-color: var(--neutral-6);
	}
}

@mixin checkbox($level: null) {
	@include base;

	@if $level ==1 {
		--size: var(--space-4);
	}

	@if $level ==2 {
		--size: var(--space-5);
	}

	@if $level ==3 {
		--size: var(--space-6);
	}

	@if $level ==4 {
		--size: var(--space-7);
	}

	&:checked {
		@include _tick($level);
	}

	&:indeterminate {
		&::before {
			content: '';
			width: 80%;
			background-color: var(--accent-3, var(--neutral-2));
		}
	}
}

@mixin radio($level: null) {
	@include base;
	--border-radius: var(--radius-5);

	@if $level ==1 {
		--size: var(--space-4);
	}

	@if $level ==2 {
		--size: var(--space-5);
	}

	@if $level ==3 {
		--size: var(--space-6);
	}

	@if $level ==4 {
		--size: var(--space-7);
	}

	&:checked {
		@include _tick($level)
	}
}
