@use './text';

@mixin _base {
	background-color: var(--neutral-8);
	border: 1.5px solid var(--neutral-6);
	border-radius: var(--radius-1);
	caret-color: var(--accent, var(--neutral-4));
	outline: none;
	padding-inline: var(--padding-x);
	padding-block: var(--padding-y);

	&::placeholder {
		color: var(--neutral-4);
	}

	&:hover {
		border-color: var(--accent, var(--neutral-5));
		box-shadow: 0 0 var(--space-1) 0 oklch(20% 0.01 250 / 10%);
	}

	&:focus,
	&:active {
		background-color: var(--neutral-8);
		border-color: var(--accent, var(--neutral-4));
	}

	&:disabled {
		background-color: var(--neutral-6);
	}
}

/// For use with text based inputs.
@mixin text($level: null) {
	@include _base;

	@if $level {
		@include text.input($level);
	}

	@if $level ==1 {
		@extend .input-1;
		--padding-y: var(--space-2);
		--padding-x: var(--space-3);
	}

	@if $level ==2 {
		@extend .input-2;
		--padding-y: var(--space-3);
		--padding-x: var(--space-4);
	}

	@if $level ==3 {
		@extend .input-3;
		--padding-y: var(--space-4);
		--padding-x: var(--space-4);
	}

	@if $level ==4 {
		@extend .input-4;
		--padding-y: var(--space-4);
		--padding-x: var(--space-5);
	}
}
