@use "./utils" as utils;

@mixin base {
	border: 1.5px solid;
	outline: none;

	background-color: var(--input-background);
	border-color: var(--input-border-color);
	border-radius: var(--input-border-radius);
	caret-color: var(--input-caret);
	color: var(--input-foreground);
	padding-inline: var(--input-padding-x);
	padding-block: var(--input-padding-y);

	--input-placeholder: var(--neutral-6);

	&::placeholder {
		color: var(--input-placeholder);
	}

	@include utils.disabled {
		--input-background: var(--neutral-8);
		cursor: not-allowed;
	}
}

/// For text based inputs.
/// eg. [type="text"], [type="password"], [type="number"], select, etc.
@mixin text_entry($level: null, $include_base: false) {
	@if $include_base {
		@include base;
	}

	@if $level ==1 {
		--input-padding-y: var(--space-1);
		--input-padding-x: var(--space-2);
	} @else if $level ==2 {
		--input-padding-y: var(--space-2);
		--input-padding-x: var(--space-5);
	} @else if $level ==3 {
		--input-padding-y: var(--space-3);
		--input-padding-x: var(--space-8);
	} @else if $level ==4 {
		--input-padding-y: var(--space-5);
		--input-padding-x: var(--space-10);
	}

	--input-border-color: var(--accent-5, var(--neutral-5));
	--input-border-radius: var(--radius-2);
	--input-foreground: var(--neutral-1);
	--input-caret: var(--neutral-4);

	&:hover {
		--input-border-color: var(--accent-6, var(--neutral-4));
		--input-placeholder: var(--accent-6, var(--neutral-4));
		box-shadow: 0 0 var(--space-1) 0 oklch(from var(--accent-1, var(--neutral-1)) l c h / 10%);
	}

	&:focus {
		--input-border-color: var(--accent-5, var(--neutral-4));
		--input-foregoround: var(--accent-1, var(--neutral-1));
		--input-background: var(--accent-9, var(--neutral-9));
		--input-placeholder: transparent;
	}

	&:active {
		--input-border-color: var(--accent-4, var(--neutral-4));
	}
}
