@use "./utils" as utils;

/// The base properties and styles that are applied to an input.
@mixin base {
	border: 1.5px solid;
	outline: none;

	background-color: var(--input-color-background);
	border-color: var(--input-color-border);
	border-radius: var(--input-border-radius);
	caret-color: var(--input-color-caret);
	color: var(--input-color-foreground);
	padding-inline: var(--input-padding-x);
	padding-block: var(--input-padding-y);

	--input-color-placeholder: var(--neutral-6);

	&::placeholder {
		color: var(--input-color-placeholder);
	}

	@include utils.disabled {
		--input-color-background: var(--neutral-8);
		cursor: not-allowed;
	}
}

/// For text based inputs.
/// eg. [type="text"], [type="password"], [type="number"], select, etc.
/// @param {number} $level - The size of the input, 1 - 4
/// @param {boolean} $include_base [false] - Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
@mixin text_entry($level: null, $include_base: false) {
	@if $include_base {
		@include base;
	}

	@if $level ==1 {
		--input-padding-y: var(--space-1);
		--input-padding-x: var(--space-2);
	} @else if $level ==2 {
		--input-padding-y: var(--space-2);
		--input-padding-x: var(--space-4);
	} @else if $level ==3 {
		--input-padding-y: var(--space-3);
		--input-padding-x: var(--space-6);
	} @else if $level ==4 {
		--input-padding-y: var(--space-4);
		--input-padding-x: var(--space-8);
	}

	--input-color-border: var(--accent-5, var(--neutral-5));
	--input-border-radius: var(--radius-2);
	--input-color-foreground: var(--neutral-1);
	--input-color-caret: var(--neutral-4);

	&:hover {
		--input-color-border: var(--accent-6, var(--neutral-4));
		--input-color-placeholder: var(--accent-6, var(--neutral-4));
		box-shadow: 0 0 var(--space-1) 0 oklch(from var(--accent-1, var(--neutral-1)) l c h / 10%);
	}

	&:focus {
		--input-color-border: var(--accent-5, var(--neutral-4));
		--input-foregoround: var(--accent-1, var(--neutral-1));
		--input-color-background: var(--accent-9, var(--neutral-9));
		--input-color-placeholder: transparent;
	}

	&:active {
		--input-color-border: var(--accent-4, var(--neutral-4));
	}
}
