@use "./utils" as utils;

/// Applies the base styles and properties to a toggle element.
@mixin base {
	appearance: none;
	cursor: pointer;
	position: relative;
	border: var(--element-border-width) solid;
	outline: var(--toggle-color-border);

	height: var(--toggle-size);
	width: var(--toggle-size);
	border-radius: var(--toggle-border-radius, var(--element-border-radius));
	border-color: var(--toggle-color-border, var(--element-color-border));
	background-color: var(--toggle-color-background);

	--toggle-color-foreground: var(--app-background);

	&::after {
		color: var(--toggle-color-foreground);
		display: grid;
		place-content: center;
		position: absolute;
		inset: 0;
		font-size: var(--toggle-tick-size);
	}
}

/// The size of the toggle element
/// @param {number} $level - How big the the input should be, 1 - 4, smallest to largest.
@mixin size($level) {
	@if $level ==1 {
		--toggle-size: var(--space-4);
	} @else if $level ==2 {
		--toggle-size: var(--space-5);
	} @else if $level ==3 {
		--toggle-size: var(--space-6);
	} @else if $level ==4 {
		--toggle-size: var(--space-7);
	}
}

/// Styles for the toggle container itself.
@mixin container {
	&:active {
		--toggle-color-border: var(--color-accent-5, var(--color-neutral-3));
		--toggle-color-background: var(--color-accent-5, var(--color-neutral-3));
	}

	@include utils.viewing {
		--toggle-color-border: var(--color-accent-4, var(--color-neutral-3));
		--toggle-color-background: var(--color-accent-9, var(--color-neutral-9));
	}

	&:checked {
		--toggle-color-background: var(--color-accent-5, var(--color-neutral-1));
		--toggle-color-border: var(--toggle-color-background);

		&::after {
			content: "✔︎";
		}

		@include utils.viewing {
			--toggle-color-background: var(--color-accent-4, var(--color-neutral-2));
		}

		&:active {
			--toggle-color-background: var(--color-accent-3, var(--color-neutral-3));
		}
	}

	@include utils.disabled {
		--toggle-color-background-color: var(--color-neutral-6);
	}
}

/// Style a square checkbox element.
/// @param {number} $level - The size of the checkbox, 1 - 4, smallest to largest.
/// @param {boolean} $include_base [false] - Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
/// @param {boolean} $include_container [false] - Include the toggle container styles, this is optional to minimise the css duplication in the root `index.css`
@mixin checkbox($level: null, $include_base: false, $include_container: false) {
	@include size($level);
	@if $include_base {
		@include base;
	}
	@if $include_container {
		@include container;
	}

	--toggle-border-radius: var(--radius-1);

	&:checked::after {
		--toggle-tick-size: 90%;
	}

	&:indeterminate {
		--toggle-color-border: var(--color-accent-5, var(--color-neutral-1));
		--toggle-color-foreground: var(--color-accent-5, var(--color-neutral-1));

		&::after {
			content: "";
			background-color: currentColor;
			display: block;
			width: 75%;
			height: 12.5%;
			margin: auto;
			border-radius: var(--radius-1);
		}
	}
}

/// Style a round radio element
/// @param {number} $level - The size of the checkbox, 1 - 4, smallest to largest.
/// @param {boolean} $include_base [false] - Include the base/common styles, this is optional to minimise the css duplication in the root `index.css`
/// @param {boolean} $include_container [false] - Include the toggle container styles, this is optional to minimise the css duplication in the root `index.css`
@mixin radio($level: null, $include_base: false, $include_container: false) {
	--toggle-border-radius: var(--radius-5);
	@include size($level);
	@if $include_base {
		@include base;
	}
	@if $include_container {
		@include container;
	}

	&:checked::after {
		--toggle-tick-size: 80%;
	}
}
