@use 'sass:math';
@use 'spacing' as *;

// Font Weights
$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 700;
$font-weight-4: 800;

@function convertPxToRem($value, $base: 16) {
	$unitless-value: math.div($value, 1px);
	$conversion: math.div($unitless-value, $base);
	$rem: $conversion * 1rem;
	@return $rem;
}

// Font Sizes
$font-size-1: convertPxToRem($space-3);
$font-size-2: convertPxToRem($space-4);
$font-size-3: convertPxToRem($space-5);
$font-size-4: convertPxToRem($space-6);
$font-size-5: convertPxToRem($space-7);
$font-size-6: convertPxToRem($space-8);
$font-size-7: convertPxToRem($space-9);
$font-size-8: convertPxToRem($space-10);
$font-size-9: convertPxToRem($space-12);

// Line Heights
$line-height-1: 1.0;
$line-height-2: 1.05;
$line-height-3: 1.15;
$line-height-4: 1.25;
$line-height-5: 1.5;

// Letter Spacing
$letter-spacing-1: -0.04em;
$letter-spacing-2: -0.02em;
$letter-spacing-3: 0em;
$letter-spacing-4: 0.02em;
$letter-spacing-5: 0.04em;
