@forward './buttons';
@forward './colours';
@forward './radius';
@forward './spacing';
@forward './text';
@forward './typography';
@use './buttons';
@use './colours';
@use './radius';
@use './spacing';
@use './text';
@use './typography';

:root {
	--neutral-1: colours.$neutral-1;
	--neutral-2: colours.$neutral-2;
	--neutral-3: colours.$neutral-3;
	--neutral-4: colours.$neutral-4;
	--neutral-5: colours.$neutral-5;
	--neutral-6: colours.$neutral-6;
	--neutral-7: colours.$neutral-7;
	--neutral-8: colours.$neutral-8;
	--red-1: colours.$red-1;
	--red-2: colours.$red-2;
	--red-3: colours.$red-3;
	--red-4: colours.$red-4;
	--red-5: colours.$red-5;
	--red-6: colours.$red-6;
	--red-7: colours.$red-7;
	--red-8: colours.$red-8;
	--blue-1: colours.$blue-1;
	--blue-2: colours.$blue-2;
	--blue-3: colours.$blue-3;
	--blue-4: colours.$blue-4;
	--blue-5: colours.$blue-5;
	--blue-6: colours.$blue-6;
	--blue-7: colours.$blue-7;
	--blue-8: colours.$blue-8;
	--green-1: colours.$green-1;
	--green-2: colours.$green-2;
	--green-3: colours.$green-3;
	--green-4: colours.$green-4;
	--green-5: colours.$green-5;
	--green-6: colours.$green-6;
	--green-7: colours.$green-7;
	--green-8: colours.$green-8;
	--yellow-1: colours.$yellow-1;
	--yellow-2: colours.$yellow-2;
	--yellow-3: colours.$yellow-3;
	--yellow-4: colours.$yellow-4;
	--yellow-5: colours.$yellow-5;
	--yellow-6: colours.$yellow-6;
	--yellow-7: colours.$yellow-7;
	--yellow-8: colours.$yellow-8;
	--red: var(--red-4);
	--blue: var(--blue-4);
	--green: var(--green-4);
	--yellow: var(--yellow-4);
	--radius-1: radius.$radius-1;
	--radius-2: radius.$radius-2;
	--radius-3: radius.$radius-3;
	--radius-4: radius.$radius-4;
	--radius-5: radius.$radius-5;
	--space-1: spacing.$space-1;
	--space-2: spacing.$space-2;
	--space-3: spacing.$space-3;
	--space-4: spacing.$space-4;
	--space-5: spacing.$space-5;
	--space-6: spacing.$space-6;
	--space-7: spacing.$space-7;
	--space-8: spacing.$space-8;
	--space-9: spacing.$space-9;
	--space-10: spacing.$space-10;
	--space-11: spacing.$space-11;
	--space-12: spacing.$space-12;
	--space-13: spacing.$space-13;
	--space-14: spacing.$space-14;
	--font-weight-1: typography.$font-weight-1;
	--font-weight-2: typography.$font-weight-2;
	--font-weight-3: typography.$font-weight-3;
	--font-size-1: typography.$font-size-1;
	--font-size-2: typography.$font-size-2;
	--font-size-3: typography.$font-size-3;
	--font-size-4: typography.$font-size-4;
	--font-size-5: typography.$font-size-5;
	--font-size-6: typography.$font-size-6;
	--font-size-7: typography.$font-size-7;
	--font-size-8: typography.$font-size-8;
	--font-size-9: typography.$font-size-9;
	--line-height-1: typography.$line-height-1;
	--line-height-2: typography.$line-height-2;
	--line-height-3: typography.$line-height-3;
	--line-height-4: typography.$line-height-4;
	--line-height-5: typography.$line-height-5;
	--letter-spacing-1: typography.$letter-spacing-1;
	--letter-spacing-2: typography.$letter-spacing-2;
	--letter-spacing-3: typography.$letter-spacing-3;
	--letter-spacing-4: typography.$letter-spacing-4;
	--letter-spacing-5: typography.$letter-spacing-5;
}

.heading-1 {
	@include text.heading(1);
}

.heading-2 {
	@include text.heading(2);
}

.heading-3 {
	@include text.heading(3);
}

.heading-4 {
	@include text.heading(4);
}

.heading-5 {
	@include text.heading(5);
}

.heading-6 {
	@include text.heading(6);
}

.alt-heading-1 {
	@include text.alt_heading(1);
}

.alt-heading-2 {
	@include text.alt_heading(2);
}

.alt-heading-3 {
	@include text.alt_heading(3);
}

.alt-heading-4 {
	@include text.alt_heading(4);
}

.alt-heading-5 {
	@include text.alt_heading(5);
}

.alt-heading-6 {
	@include text.alt_heading(6);
}

.body-1 {
	@include text.body(1);
}

.body-2 {
	@include text.body(2);
}

.body-3 {
	@include text.body(3);
}

.body-4 {
	@include text.body(4);
}

.button-1 {
	@include text.button(1);
}

.button-2 {
	@include text.button(2);
}

.button-3 {
	@include text.button(3);
}

.button-4 {
	@include text.button(4);
}

.label-1 {
	@include text.label(1);
}

.label-2 {
	@include text.label(2);
}

.label-3 {
	@include text.label(3);
}

.label-4 {
	@include text.label(4);
}

.link-1 {
	@include text.link(1);
}

.link-2 {
	@include text.link(2);
}

.link-3 {
	@include text.link(3);
}

.link-4 {
	@include text.link(4);
}

button,
.button {

	&.button-1 {
		@include buttons.size(1);
	}

	&.button-2 {
		@include buttons.size(2);
	}

	&.button-3 {
		@include buttons.size(3);
	}

	&.button-4 {
		@include buttons.size(4);
	}

	&.primary {
		@include buttons.primary;
	}

	&.secondary {
		@include buttons.secondary;
	}

	&.ghost {
		@include buttons.ghost;
	}

	&.red {
		--btn-1: var(--red-2);
		--btn-2: var(--red-3);
		--btn-3: var(--red-4);
		--btn-4: var(--red-8);
	}

	&.blue {
		--btn-1: var(--blue-2);
		--btn-2: var(--blue-3);
		--btn-3: var(--blue-4);
		--btn-4: var(--blue-8);
	}

	&.green {
		--btn-1: var(--green-2);
		--btn-2: var(--green-3);
		--btn-3: var(--green-4);
		--btn-4: var(--green-8);
	}

	&.yellow {
		--btn-1: var(--yellow-1);
		--btn-2: var(--yellow-2);
		--btn-3: var(--yellow-3);
		--btn-4: var(--yellow-8);
	}

}
