@use "sass:map";
@use "./colours";
@use "./radius";
@use "./spacing";
@use "./typography";
@use "./typography/font-size";

/// Create an `@property` rule
///
/// @param {string} $name - The name of the property to register, note that you do need to include the starting `--`
/// @param {string} $syntax ["*"] - The type of variable, defaults to `*`, you do not need to include the `<` and `>` of the syntax name.
/// @param $value - the initial value of this property
/// @param {boolean} $inherits [true] - Wether or not the prooperty should inherit its value by default. Defaults to `true`.
@mixin create_prop($name, $syntax: "*", $value, $inherits: true) {
	@if $syntax != "*" {
		$syntax: "<#{$syntax}>";
	}

	@property --#{$name} {
		syntax: $syntax;
		inherits: $inherits;
		initial-value: $value;
	}
}

$_colours: (
	"accent": colours.$neutrals,
);
@each $colour, $values in $_colours {
	@each $level, $value in $values {
		@if ($level ==0) {
			@include create_prop("accent", "color", $value);
			@include create_prop("color-accent", "color", $value);
		} @else {
			@include create_prop("accent-#{$level}", "color", $value);
			@include create_prop("color-accent-#{$level}", "color", $value);
		}
	}
}
$_colours: map.merge(colours.$colours, $_colours);

@each $colour, $values in $_colours {
	@each $level, $value in $values {
		@if ($level ==0) {
			@include create_prop($colour, "color", $value);
			@include create_prop("color-#{$colour}", "color", $value);
		} @else {
			@include create_prop("#{$colour}-#{$level}", "color", $value);
			@include create_prop("color-#{$colour}-#{$level}", "color", $value);
		}
	}
}

// Setting the inital values as browser defaults.
@include create_prop("color-background", "color", #fff);
@include create_prop("color-foreground", "color", #000);

@each $level, $value in radius.$radius {
	@include create_prop("radius-#{$level}", "length", $value);
}

@each $level, $value in spacing.$space {
	@include create_prop("space-#{$level}", "length", $value);
}

@each $level, $value in typography.$font-weight {
	@include create_prop("font-weight-#{$level}", "number", $value);
}

@include create_prop("text-line-height", "number", typography.$line-height-1);

@each $level, $value in typography.$line-height {
	@include create_prop("line-height-#{$level}", "number", $value);
}

// Because these properties use relative values we need to define them with a absolute value. Otherwise the rule is invalid

@include create_prop("text-font-size", "length", map.get(font-size.$raw, 3));

@each $level, $value in font-size.$raw {
	@include create_prop("font-size-#{$level}", "length", $value);
}

@include create_prop("text-letter-spacing", "length", 0px);

@each $level, $value in typography.$letter-spacing {
	@include create_prop("letter-spacing-#{$level}", "length", 0px);
}

@include create_prop("text-font-weight", "number", typography.$font-weight-2);
