name: Build Check

on:
  push:
    paths:
      - "index.scss"
      - "styles/*"
  pull_request:
    paths:
      - "index.scss"
      - "styles/*"

jobs:
  build-css:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true

      - name: Install Deps
        run: deno install

      - name: Build CSS
        run: deno task build

      - name: Check if CSS is up to date
        run: |
          if ! git diff --quiet index.css; then
            echo "The index.css has changes after running the build command. Please commit those changes."
            exit 1
          fi
