name: Publish package

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      # Must be using at least v11.5.1 for trusted publishing
      - name: Update npm
        run: npm install -g npm@latest

      - name: Publish
        run: npm publish --provenance
